# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

*.pyc
*.mo
env/
.idea/
docker-compose.override.yml
data/er/*
!data/er/.gitkeep
data/web_uploads/notes/*
*.sqlite3
**/.coverage
*.log.*

*.venv*/
*.vscode/
*.code-workspace
**/.DS_Store
suila/2022_a.csv
suila/2023_a.csv
/suila/.coverage**
/suila/a_og_b_2020.csv
/suila/a_og_b_2021.csv
/suila/a_og_b_2022.csv
/suila/a_og_b_2023.csv
/suila/forskud_2020.csv
/suila/forskud_2021.csv
/suila/forskud_2022.csv
/suila/forskud_2023.csv
/suila/ligning_2020.csv
/suila/ligning_2021.csv
/suila/ligning_2022.csv
/suila/ligning_2023.csv
/suila/certs/dafo_lookup_pitu_server.crt
/suila/certs/dafo_lookup_tls+pitu.crt
/suila/certs/dafo_lookup_tls+pitu.key
*.g68
suila/data/
*.swp

ssl/
/suila/.mypy_cache/**
