# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

*.pyc
*.mo
env/
.idea/
docker-compose.override.yml
data/er/*
!data/er/.gitkeep
*.sqlite3
**/.coverage
*.log.*

*.venv*/
*.vscode/
*.code-workspace
**/.DS_Store
bf/2022_a.csv
bf/2023_a.csv
