# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

*.pyc
*.mo
env/
.idea/
docker-compose.override.yml
data/er/*
!data/er/.gitkeep
*.sqlite3
**/.coverage
*.log.*

*.venv*/
*.vscode/
*.code-workspace
**/.DS_Store
bf/2022_a.csv
bf/2023_a.csv
/bf/.coverage**
/bf/a_og_b_2020.csv
/bf/a_og_b_2021.csv
/bf/a_og_b_2022.csv
/bf/a_og_b_2023.csv
/bf/forskud_2020.csv
/bf/forskud_2021.csv
/bf/forskud_2022.csv
/bf/forskud_2023.csv
/bf/ligning_2020.csv
/bf/ligning_2021.csv
/bf/ligning_2022.csv
/bf/ligning_2023.csv
/bf/certs/dafo_lookup_pitu_server.crt
/bf/certs/dafo_lookup_tls+pitu.crt
/bf/certs/dafo_lookup_tls+pitu.key
*.g68
bf/data/
*.swp
