{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}

{% block content %}
<form id="histogram-options" method="get" action="." class="g-3 p-2">
    <div class="row justify-content-start">
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-text">{{ form.year.label }}</div>
                {{ form.year }}
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-text">{{ form.resolution.label }}</div>
                {{ form.resolution }}
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-text">{{ form.has_a.label }}</div>
                {{ form.has_a }}
            </div>
        </div>
            <div class="col-3">
            <div class="input-group">
                <div class="input-group-text">{{ form.has_b.label }}</div>
                {{ form.has_b }}
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary">{% translate 'Opdatér' %}</button>
        </div>
    </div>
</form>
<div id="histograms">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">{% translate 'Building histograms ...' %}</span>
    </div>
    <p>{% translate 'Building histograms ...' %}</p>
</div>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
<style nonce="{{ request.csp_nonce }}">
#histograms {
    display: block;
    min-height: 200px;
    text-align: center;
}
#histograms .spinner-border {
    margin: 50px auto 0 auto;
}
</style>
<script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
<script nonce="{{ request.csp_nonce }}">
// Basic chart configuration
const chartOptions = {
    chart: {
        type: "bar",
        height: 600,
        animations: {
            enabled: false,
        },
    },
    dataLabels: {
        enabled: false,
    },
    xaxis: {
        type: "category",
    },
    yaxis: [
        {
            // Absolute scale
            type: "numeric",
            forceNiceScale: true,
            stepSize: 100,
            opposite: false,
        },
        {
            // Percentage scale
            type: "numeric",
            forceNiceScale: true,
            min: 0,
            max: 100,
            stepSize: 10,
            opposite: true,
        }
    ],
    legend: {
        show: true,
    }
};

// Build chart data
const getChartData = function (histo, key, percentileSize, options) {
    const series = [];
    const totalObservations = Object.values(histo).reduce(function (a, b) { return a + b} );

    // Convert histogram (percentile -> num observations map) into X/Y pairs
    const items = [];
    const percentages = [];
    for (const percentile in histo) {
        items.push({
            x: percentile,
            y: histo[percentile],
        });
        percentages.push({
            x: percentile,
            y: 100.0 * (histo[percentile] / totalObservations),
        });
    }
    series.push({
        data: items,
        name: "Number of observations",
    });
    series.push({
        data: percentages,
        name: "Percentage of total observations",
    })

    // Construct chart data by combining series and options
    const chartData = structuredClone(options);
    chartData.chart.id = key;
    chartData.series = series;
    chartData.xaxis.labels = {
        formatter: function (value, timestamp, opts) {
            const val = parseInt(value, 10);
            return `${val}-${val + percentileSize}%`;
        }
    }
    // Absolute scale formatter
    chartData.yaxis[0].labels = {
        formatter: function (value, timestamp, opts) {
            const val = parseInt(value, 10);
            return `${val}`;
        }
    }
    // Percentage scale formatter
    chartData.yaxis[1].labels = {
        formatter: function (value, timestamp, opts) {
            const val = parseInt(value, 10);
            return `${val}%`;
        }
    }

    return chartData;
}

$(document).ready(
    async function () {
        const url = new URL(window.location);
        const params = new URLSearchParams(url.search);
        params.append("format", "json");

        const rootElemName = "#histograms";

        const response = await fetch(`?${params}`);
        const doc = await response.json();

        $(rootElemName).html("");

        for (const key in doc.data) {
            const histo = doc.data[key];

            // Insert DOM element for heading
            const headingElem = $(`<h1>${key}</h1>`);
            $(rootElemName).append(headingElem);

            // Insert DOM element for chart
            const chartElem = $("<div>");
            $(rootElemName).append(chartElem);

            // Get chart data
            const chartData = getChartData(histo, key, doc.percentile_size, chartOptions);

            // Render chart into DOM element
            const chart = new ApexCharts(chartElem.get(0), chartData);
            chart.render();
        }
    }
)

$(document).ready(
    function () {
        const url = new URL(window.location);
        const params = new URLSearchParams();
        const form = $("#histogram-options");

        form.submit(function (evt) {
            evt.preventDefault();
            for (const param of form.serializeArray()) {
                if (param.name !== "year") {
                    params.set(param.name, param.value);
                }
            }
            const newHref = $("#id_year", form).val();
            url.href = url.origin + newHref;
            url.search = params;
            window.location.replace(url);
        });
    }
)
</script>
{% endblock %}
