{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}

{% block content %}
<h1>{{ person.name }}</h1>
<div class="row">
    <div class="col-6">
        <table class="table">
            <tr>
                <th class="col-4">CPR-nummer:</th>
                <td class="col-8">{{ person.cpr }}</td>
            </tr>
            <tr>
                <th>Adresse:</th>
                <td>{{ person.full_address|default_if_none:"-" }}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table class="table">
            <tr>
                <td class="col-4"></td>
                <th class="col-4">Stabilitets-score (A)</th>
                <th class="col-4">Stabilitets-score (B)</th>
                <th class="col-4">Estimeringsmotor (A)</th>
                <th class="col-4">Estimeringsmotor (B)</th>
            </tr>
            {% for person_year in person_years %}
            <tr>
                <th>{{ person_year.year.year }}</th>
                <td>{{ person_year.stability_score_a|default_if_none:"-" }}</td>
                <td>{{ person_year.stability_score_b|default_if_none:"-" }}</td>
                <td>{{ person_year.preferred_estimation_engine_a }}</td>
                <td>{{ person_year.preferred_estimation_engine_b }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<form id="graph-options" method="get" action="." class="row row-cols-lg-auto g-3 align-items-center p-2">
    <div class="col-12">
        <div class="input-group">
            <div class="input-group-text">{{ form.year_start.label }}</div>
            {{ form.year_start }}
                <div class="input-group-text">-</div>
            {{ form.year_end }}
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <div class="input-group-text">{{ form.income_type.label }}</div>
            {{ form.income_type }}
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">{% translate 'Opdatér' %}</button>
    </div>
    {{ form.errors }}
</form>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
<script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
{{year_urls|json_script:"year_urls"}}
<script id="chart_data" type="application/json">{{chart_data|safe}}</script>
<script nonce="{{ request.csp_nonce }}">
// Basic chart configuration
const chartOptions = {
    chart: {
        type: "line",
        height: 600,
        animations: {
            enabled: false,
        }
    },
    plotOptions: {
        bar: {
            horizontal: false,
        }
    },
    xaxis: {
        type: "numeric",
    },
    stroke: {
        curve: "stepline",
    },
    legend: {
        show: true,
        position: "top",
        horizontalAlign: "left",
    },
    tooltip:{
        x: {
            show:true,
        }
    }    
};

// Build chart data based on each "row" in dataset
const getChartData = function (doc, row, rowId, options) {
    const series = [];
    let hasData = false;
    const labelledSeries = [];

    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const category = function(year, month) {
        return monthNames[month-1] + " " + year;
    }

    const bucketize = function(items) {
        const data = {};
        for (const item of items) {
            if (!(item.year in data)) {
                data[item.year] = {};
            }
            data[item.year][item.month] = item;
        }
        return data;
    }

    const chartData = structuredClone(options);
    chartData.chart.id = rowId;
    const xLabels = [];
    for (let year=doc.year_start; year<=doc.year_end; year++) {
        for (let month of monthNames) {
            xLabels.push(month+" "+year);
        }
    }
    chartData.xaxis = {
        categories: xLabels,
        type: "category"
    };
    chartData.dataLabels = {
        enabled: true,
        enabledOnSeries: labelledSeries,
    };

    if (row.income_series) {
        const incomeData = []
        const data = bucketize(row.income_series);
        for (let year = doc.year_start; year <= doc.year_end; year++) {
            for (let month = 1; month <= 12; month++) {
                const item = data[year] && data[year][month];
                incomeData.push({
                    x: category(year, month),
                    y: item ? item.value : null,
                });
            }
        }
        series.push({
            data: incomeData,
            name: "Indkomst",
            type: "column",
        });
        labelledSeries.push(series.length-1);
        hasData = true;
    }

    if (row.payout) {
        const payoutData = []
        const cumulativeData = []
        const data = bucketize(row.payout);
        for (let year = doc.year_start; year <= doc.year_end; year++) {
            for (let month = 1; month <= 12; month++) {
                const item = data[year] && data[year][month];
                payoutData.push({
                    x: category(year, month),
                    y: item ? item.payout : null,
                });
                cumulativeData.push({
                    x: category(year, month),
                    y: item ? item.cumulative_payout : null,
                });
            }
        }
        series.push({
            data: payoutData,
            name: "Månedlig udbetaling",
            type: "column",
        },{
            data: cumulativeData,
            name: "Summeret udbetaling",
            type: "line",
        });
        labelledSeries.push(series.length-2);
        hasData = true;
        chartData.yaxis = [
            {
                title: {
                    text: 'Månedlig udbetaling',
                }
            },
            {
                opposite: true,
                title: {
                    text: 'Summeret udbetaling'
                }
            }
        ]
    }

    if (row.predictions) {
        // Add data series for each prediction engine's output
        for (const prediction of row.predictions) {
            const predictionData = [];
            const data = bucketize(prediction.items);
            for (let year = doc.year_start; year <= doc.year_end; year++) {
                for (let month = 1; month <= 12; month++) {
                    const item = data[year] && data[year][month];
                    const y = item ? item.value : null;
                    predictionData.push({
                        x: category(year, month),
                        y: item ? item.predicted_value : null,
                        difference: item ? item.prediction_difference : null,
                        differencePct: item ? item.prediction_difference_pct : null,
                    });
                }
            }

            if (predictionData) {
                hasData = true;
            }
            series.push({
                data: predictionData,
                name: "Estimat af årsindkomst",
                type: "column",
            });
            labelledSeries.push(series.length-1);
        }
    }


    if (row.income_sum) {
        const actualData = [];
        for (let year = doc.year_start; year <= doc.year_end; year++) {
            var sum = row.income_sum[year];
            if (sum == undefined) {
                sum = 0;
            }
            for (let month = 1; month <= 12; month++) {
                actualData.push({
                    x: category(year, month),
                    y: sum,
                });
            }
        }
        // Add line graph for "income_sum"
        series.push({
            data: actualData,
            name: "Faktisk årsindkomst",
            type: "line",
        });
    }

    if (hasData) {
        // Construct chart data by combining series and options
        chartData.series = series;
        return chartData;
    }
    return null;
};

$(function () {
    // Fetch dataset from server and render each row of dataset as separate charts.
    // There is currently one row per employer.
    const doc = JSON.parse($("#chart_data").text());

    for (const rowId in doc.rows) {
        const row = doc.rows[rowId];

        // Insert DOM element for chart
        const cardId = "chart_"+rowId;
        const card = $(`
            <div class="card m-2">
                <a class="card-link" data-bs-toggle="collapse" href="#${cardId}">
                    <div class="card-header">
                        ${row.title}
                    </div>
                </a>
                <div id="${cardId}" class="collapse show">
                    <div class="card-body"></div>
                </div>
            </div>
            `);
        $("body").append(card);

        const chartElem = card.find(".card-body");

        // Get chart data
        const chartData = getChartData(doc, row, rowId, chartOptions);
        if (chartData === null) {
            chartElem.append($('<div class="d-flex justify-content-center">Ingen estimater</div>'));
        } else {
            // Render chart into DOM element
            const chart = new ApexCharts(chartElem.get(0), chartData);
            chart.render();
        }
    }
});

$(function () {
    const year_urls = JSON.parse($("#year_urls").text());
    const form = $("#graph-options");
    /*form.find("button").on("click", function(evt) {
        const yearField = form.find("[name=year]");
        form.attr("action", year_urls[yearField.val()]);
        yearField.attr("disabled", "disabled");
        form.submit();
    });*/
});
</script>
{% endblock %}
