{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load bf_tags %}

{% block content %}
    <form id="list-options" method="get" action="." class="g-3 p-2">
        <div class="row justify-content-start">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-text">{{ form.has_a.label }}</div>
                    {{ form.has_a }}
                </div>

            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-text">{{ form.has_b.label }}</div>
                    {{ form.has_b }}
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-primary">{% translate 'Opdatér' %}</button>
            </div>
        </div>
    </form>
    <table class="table">
    <thead>
    <tr>
        <th>Person</th>
        <th>InYearExtrapolationEngine offset</th>
        <th>TwelveMonthsSummationEngine offset</th>
        <th>Actual year sum</th>
    </tr>
    </thead>
    <tbody>
{% for object in object_list %}
    <tr>
        <td><a href="{% url 'data_analysis:person_analysis' pk=object.person.pk year=year %}">{{ object.person.cpr }}</a></td>
        <td>{{ object.InYearExtrapolationEngine|floatformat:2 }} %</td>
        <td>{{ object.TwelveMonthsSummationEngine|floatformat:2 }} %</td>
        <td>{{ object.sum_amount }}</td>
    </tr>
{% endfor %}
    </tbody>
    </table>

    <div class="pagination">
    <span class="step-links btn-group">
        {% if page_obj.has_previous %}
            <a href="?page=1&{{ form.cleaned_data|urlparams|safe }}" class="btn btn-outline-primary">1</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?page={{ page_obj.previous_page_number }}&{{ form.cleaned_data|urlparams|safe }}" class="btn btn-outline-primary">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}
        <a class="current btn btn-outline-primary active">
            {{ page_obj.number }}
        </a>
        {% if page_obj.has_next %}
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.next_page_number }}&{{ form.cleaned_data|urlparams|safe }}" class="btn btn-outline-primary">{{ page_obj.next_page_number }}</a>
            {% endif %}
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ form.cleaned_data|urlparams|safe }}" class="btn btn-outline-primary">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
