{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}

{% block content %}
<h1>{{ person }}</h1>
<form id="graph-options" method="get" action="." class="row row-cols-lg-auto g-3 align-items-center p-2">
    <div class="col-12">
        <div class="input-group">
            <div class="input-group-text">{{ form.year.label }}</div>
            {{ form.year }}
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary">{% translate 'Opdater' %}</button>
    </div>
</form>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
<script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
<script nonce="{{ request.csp_nonce }}">
// Basic chart configuration
const chartOptions = {
    chart: {
        type: "line",
        height: 600,
        animations: {
            enabled: false,
        }
    },
    plotOptions: {
        bar: {
            horizontal: false,
        }
    },
    xaxis: {
        type: "datetime",
    },
    dataLabels: {
        enabled: true
    },
    legend: {
        show: true,
        position: "top",
        horizontalAlign: "left",
    },
    tooltip:{
        x: {
            show:true,
        }
    }    
};

// Build chart data based on each "row" in dataset
const getChartData = function (doc, row, rowId, options) {
    const series = [];

    // Add "income" data series
    const income = [];
    for (const item of row.income_series) {
        income.push({
            x: new Date(item.year, item.month - 1, 1),
            y: item.value,
        });
    }
    series.push({
        data: income,
        name: "Income",
        type: "column",
    });

    // Add data series for each prediction engine's output
    for (const prediction of row.predictions) {
        const predictionData = [];
        for (const item of prediction.items) {
            predictionData.push({
                x: new Date(item.year, item.month - 1, 1),
                y: item.predicted_value,
                difference: item.prediction_difference,
                differencePct: item.prediction_difference_pct,
            });
        }
        series.push({
            data: predictionData,
            name: prediction.engine.description,
            type: "column",
        });
    }

    // Add line graph for "income_sum"
    series.push({
        data: [
            {
                x: new Date(doc.year, 0, 1),
                y: row.income_sum,
            },
            {
                x: new Date(doc.year, 11, 1),
                y: row.income_sum,
            },
        ],
        name: "Income sum",
        type: "line",
    });

    // Construct chart data by combining series and options
    const chartData = structuredClone(options);
    chartData.chart.id = rowId;
    chartData.series = series;
    return chartData;
}


const getChart2Data = function (doc, row, rowId, options) {
    const series = [];

    // Add "payout" data series
    const payout = [];
    for (const item of row.payout) {
        payout.push({
            x: new Date(item.year, item.month - 1, 1),
            y: item.payout,
        });
    }
    series.push({
        data: payout,
        // Det totale udbetalte beløb som er på borgerens konto i denne måned
        name: "Totale udbetaling for året",
        type: "column",
    });


    // Add "correct_payout" data series
    const correct_payout = [];
    for (const item of row.payout) {
        correct_payout.push({
            x: new Date(item.year, item.month - 1, 1),
            y: item.correct_payout,
        });
    }
    series.push({
        data: correct_payout,        
        // Beløbet som skal være på kontoen når året er slut.
        // Prognosen opdateres hver måned.
        // Den op-justeres når borgeren begynder at tjene penge over minimunsgrænsen.
        // Den ned-justeres hvis borgeren begynder at tjene over maksimumsgrænsen
        name: "Totale udbetaling for året (prognose)", 
        type: "column",
    });


    // Construct chart data by combining series and options
    const chartData = structuredClone(options);
    chartData.chart.id = rowId;
    chartData.series = series;
    
    chartData.tooltip.y=[{
        formatter : function(val) {    
            return val + " (Det totale beløb som er udbetalt til borgeren i indeværende år)"
            }
        },{   
        formatter : function(val) {
            return val + " (Det totale beløb som skal være udbetalt til borgeren, når året er omme)"
            }
        },
    ]
    
    return chartData;
}


$(document).ready(
    async function () {
        // Fetch dataset from server and render each row of dataset as separate charts.
        // There is currently one row per employer.
        const response = await fetch("?format=json");
        const doc = await response.json();

        for (const rowId in doc.rows) {
            const row = doc.rows[rowId];

            // Insert DOM element for chart
            const chartElem = document.createElement("div");
            document.querySelector("body").appendChild(chartElem);

            // Get chart data
            const chartData = getChartData(doc, row, rowId, chartOptions);

            // Render chart into DOM element
            const chart = new ApexCharts(chartElem, chartData);
            chart.render();

            // Insert DOM element for chart
            const chartElem2 = document.createElement("div");
            document.querySelector("body").appendChild(chartElem2);

            // Get chart data
            const chartData2 = getChart2Data(doc, row, rowId, chartOptions);

            // Render chart into DOM element
            const chart2 = new ApexCharts(chartElem2, chartData2);
            chart2.render();

        }
    }
)

$(document).ready(
    function () {
        const form = $("#graph-options");

        form.submit(function (evt) {
            evt.preventDefault();
            const newUrl = $("#id_year", form).val();
            window.location.replace(newUrl);
        });
    }
)
</script>
{% endblock %}
