{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load suila_tags %}
{% load bootstrap_icons %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}"/>
{% endblock %}

{% block content %}
<div class="row my-1 mx-1">
    <div class="d-flex justify-content-between">
        <h1>{% translate "Jobliste" %} </h1>
        <div class="align-self-center">
            <form class="joblist-form">
                <div class="d-flex justify-content-start gap-2">
                    <div class="align-self-center filter_label">
                        <label><strong>{% translate "Filter jobnavn:" %}</strong></label>
                    </div>
                    <div class="input-group">
                        {{ form.filter_type }}
                        {{ form.filter_value }}
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row my-1 mx-1">
    <table class="table table-bordered">
    <thead class="shadow-sm p-3 mb-5 bg-body rounded sticky-top">
    <tr>
        <th class="col-2">
            <a href="?{{ sort_params.name }}" class="link-dark">
                Job
                {% include "data_analysis/sort_icon.html" with field="name" %}
            </a>
        </th>
        <th class="col-2">
            <a href="?{{ sort_params.runtime }}" class="link-dark">
                Kørselsdato (UTC)
                {% include "data_analysis/sort_icon.html" with field="runtime" %}
            </a>
        </th>
        <th class="col-2">
            <a href="?{{ sort_params.status }}" class="link-dark">
                Status
                {% include "data_analysis/sort_icon.html" with field="status" %}
            </a>
        </th>
        <th class="col-1">
            <a href="?{{ sort_params.year_param }}" class="link-dark">
                År
                {% include "data_analysis/sort_icon.html" with field="year_param" %}
            </a>
        </th>
        <th class="col-1">
            <a href="?{{ sort_params.month_param }}" class="link-dark">
                Måned
                {% include "data_analysis/sort_icon.html" with field="month_param" %}
            </a>
        </th>
        <th class="col-1">
            <a href="?{{ sort_params.cpr_param }}" class="link-dark">
                CPR
                {% include "data_analysis/sort_icon.html" with field="cpr_param" %}
            </a>
        </th>
        <th class="col-1">
            <a href="?{{ sort_params.type_param }}" class="link-dark">
                Type
                {% include "data_analysis/sort_icon.html" with field="type_param" %}
            </a>
        </th>
        <th class="col-1">
            <a href="?{{ sort_params.count_param }}" class="link-dark">
                Antal
                {% include "data_analysis/sort_icon.html" with field="count_param" %}
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.runtime }}</td>
        <td>

            {% if object.output %}
            <a
                tabindex="0"
                class="text-danger"
                role="button"
                data-bs-toggle="popover"
                data-bs-trigger="focus"
                data-bs-title="Job {{ object.status }}"
                data-bs-content="{{object.output}}"
                data-bs-custom-class="joblog-popover-{{object.status|lower}}"
            >
                {{ object.status }}
            </a>
            {% else %}
            <span>{{ object.status }}</span>
            {% endif %}
        </td>
        <td>{{ object.year_param|default_if_none:"-" }}</td>
        <td>{{ object.month_param|default_if_none:"-" }}</td>
        <td>{{ object.cpr_param|default_if_none:"-" }}</td>
        <td>{{ object.type_param|default_if_none:"-" }}</td>
        <td>{{ object.count_param|default_if_none:"-" }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% include "suila/pagination.html" with page_obj=page_obj paginator=paginator query_params_extra=form.cleaned_data|urlparams|safe %}

</div>

{% endblock %}
