{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}

{% block content %}
<h1>{{ person.name }}</h1>
<div class="row">
    <div class="col-4">
        <table class="table">
            <tr>
                <th class="col-4">CPR-nummer:</th>
                <td class="col-8">{{ person.cpr }}</td>
            </tr>
            <tr>
                <th>Adresse:</th>
                <td>{{ person.full_address|default_if_none:"-" }}</td>
            </tr>
        </table>
    </div>
    <div class="col-8">
        <table class="table">
            <tr>
                <td class="col-1"></td>
                <th class="col-1">Karantæne</th>
                <th class="col-2">Karantæne grund</th>
                <th class="col-2">Stabilitets-score (A)</th>
                <th class="col-2">Stabilitets-score (B)</th>
                <th class="col-2">Estimeringsmotor (A)</th>
                <th class="col-2">Estimeringsmotor (B)</th>
            </tr>
            {% for person_year in person_years %}
            <tr>
                <th>{{ person_year.year.year }}</th>
                <td>{{ person_year.in_quarantine|yesno }}</td>
                <td>{{ person_year.quarantine_reason }}</td>
                <td>{{ person_year.stability_score_a|default_if_none:"-" }}</td>
                <td>{{ person_year.stability_score_b|default_if_none:"-" }}</td>
                <td>{{ person_year.preferred_estimation_engine_a }}</td>
                <td>{{ person_year.preferred_estimation_engine_b }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<form id="graph-options" method="get" action="." class="row row-cols-lg-auto g-3 align-items-center p-2">
    <div class="col-12">
        <div class="input-group">
            <div class="input-group-text">{{ form.year_start.label }}</div>
            {{ form.year_start }}
                <div class="input-group-text">-</div>
            {{ form.year_end }}
        </div>
    </div>
    <div class="col-12">
        <div class="input-group">
            <div class="input-group-text">{{ form.income_type.label }}</div>
            {{ form.income_type }}
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">{% translate 'Opdatér' %}</button>
    </div>
    {{ form.errors }}
</form>

<div id="modal-graph" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title">Beregning af tilskud</h5></div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tr>
                        <th>Måned</th>
                        <td id="modal_month"></td>
                    </tr>
                    <tr>
                        <th>Estimeret årsindkomst</th>
                        <td id="modal_estimated_year_result"></td>
                    </tr>
                    <tr>
                        <th>Estimeret beskæftigelsestilskud for hele året</th>
                        <td id="modal_estimated_year_benefit"></td>
                    </tr>
                </table>
                <div id="modal_graph_container"></div>
            </div>
            <div class="modal-footer">
                <p>
                Det røde punkt angiver sammenhængen mellem den estimerede årsindkomst og det beregnede tilskud
                </p>
            </div>
        </div>
    </div>
</div>

<div id="card_container"></div>

{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
<script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
{{year_urls|json_script:"year_urls"}}
<script id="chart_data" type="application/json">{{chart_data|safe}}</script>
<script nonce="{{ request.csp_nonce }}">
$(function () {
// Basic chart configuration
const chartOptions = {
    chart: {
        type: "line",
        height: 600,
        animations: {
            enabled: false,
        }
    },
    plotOptions: {
        bar: {
            horizontal: false,
        }
    },
    xaxis: {
        type: "numeric",
    },
    stroke: {
        curve: "stepline",
    },
    legend: {
        show: true,
        position: "top",
        horizontalAlign: "left",
    },
    tooltip:{
        x: {
            show:true,
        }
    }
};


const bucketize = function(items) {
    const data = {};
    for (const item of items) {
        if (!(item.year in data)) {
            data[item.year] = {};
        }
        data[item.year][item.month] = item;
    }
    return data;
}

// Build chart data based on each "row" in dataset
const getChartData = function (doc, row, rowId, options) {

    const formatter = new Intl.NumberFormat("da-DK", { style: "currency", currency: "DKK" });
    const chartData = structuredClone(options);
    chartData.chart.id = rowId;
    chartData.chart.type = row.chart_type;
    if (chartData.chart.type === "bar") {
        chartData.chart.stacked = true
        chartData.plotOptions.bar = {
            dataLabels: {
                total: {
                    enabled: true,
                }
            }
        }
        chartData.tooltip = {
            shared: true,
            intersect: false,
            x: {
                show: true
            }
        }
    }

    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const category = function(year, month) {
        return monthNames[month-1] + " " + year;
    }

    const series = [];
    const labelledSeries = [];
    let hasData = false;

    const xLabels = [];
    for (let year=doc.year_start; year<=doc.year_end; year++) {
        for (let month of monthNames) {
            xLabels.push(month+" "+year);
        }
    }
    chartData.xaxis = {
        categories: xLabels,
        type: "category"
    };
    chartData.dataLabels = {
        enabled: true,
        enabledOnSeries: labelledSeries,
        formatter: function(value) {
            return formatter.format(value)
        }
    };
    chartData.yaxis = [
        {
            labels: {
                formatter: function(value) {
                    return formatter.format(value)
                }
            }
        }
    ];

    if (row.income_series) {
        const data = bucketize(row.income_series);

        if (chartData.chart.type === "bar") {
            const incomeTypesSet = new Set();
            const incomeTypeValues = {};

            // Iterate over years and months once
            for (let year = doc.year_start; year <= doc.year_end; year++) {
                for (let month = 1; month <= 12; month++) {
                    const item = data[year]?.[month];
                    if (item?.value_parts) {
                        for (const valuePart of item.value_parts) {
                            const incomeType = valuePart.income_type;

                            // Add to incomeTypesSet
                            incomeTypesSet.add(incomeType);

                            // Accumulate values for each income type
                            if (!incomeTypeValues[incomeType]) {
                                incomeTypeValues[incomeType] = [];
                            }

                            // Ensure array length matches the timeline
                            while (incomeTypeValues[incomeType].length < (year - doc.year_start) * 12 + month) {
                                incomeTypeValues[incomeType].push(0);
                            }

                            incomeTypeValues[incomeType][(year - doc.year_start) * 12 + month - 1] += valuePart.value;
                        }
                    }
                }
            }

            // Prepare series data
            const incomeTypes = Array.from(incomeTypesSet);
            for (const incomeType of incomeTypes) {
                series.push({
                    name: `${incomeType} indkomst`,
                    data: incomeTypeValues[incomeType],
                });
                labelledSeries.push(series.length - 1);
            }
        } else {
            const incomeData = []
            for (let year = doc.year_start; year <= doc.year_end; year++) {
                for (let month = 1; month <= 12; month++) {
                    const item = data[year] && data[year][month];
                    incomeData.push({
                        x: category(year, month),
                        y: item ? item.value : null,
                    });
                }
            }

            series.push({
                data: incomeData,
                name: "Indkomst",
                type: "column",
            });
            labelledSeries.push(series.length-1);
        }

        hasData = true;
    }

    if (row.payout) {
        const payoutData = []
        const cumulativeData = []
        const correctData = []
        const data = bucketize(row.payout);
        for (let year = doc.year_start; year <= doc.year_end; year++) {
            const december_item = data[year] && data[year][12];
            for (let month = 1; month <= 12; month++) {
                const item = data[year] && data[year][month];
                payoutData.push({
                    x: category(year, month),
                    y: item ? item.payout : null,
                });
                cumulativeData.push({
                    x: category(year, month),
                    y: item ? item.cumulative_payout : null,
                });
                correctData.push({
                    x: category(year, month),
                    y: december_item ? december_item.correct_payout : null,
                });
            }
        }
        series.push({
            data: payoutData,
            name: "Månedlig udbetaling",
            type: "column",
        },{
            data: correctData,
            name: "Korrekt udbetaling",
            type: "line",
        },{
            data: cumulativeData,
            name: "Summeret udbetaling",
            type: "line",
        });
        labelledSeries.push(series.length-3);
        hasData = true;

        chartData.stroke.dashArray = [0, 8, 0]
        chartData.yaxis = [
            {
                title: {
                    text: 'Månedlig udbetaling',
                },
                labels: {
                    formatter: function(value) {
                        return formatter.format(value)
                    }
                }
            },
            {
                opposite: true,
                title: {
                    text: 'Summeret udbetaling'
                },
                min: 0,
                labels: {
                    formatter: function(value) {
                        return formatter.format(value)
                    }
                }
            },
        ];
        chartData.chart.events = {
            markerClick: function (event, chartContext, opts) {
                openPayoutGraph(opts.dataPointIndex);
            }
        };
    }

    if (row.predictions) {
        // Add data series for each prediction engine's output
        for (const prediction of row.predictions) {
            const predictionData = [];
            const data = bucketize(prediction.items);
            for (let year = doc.year_start; year <= doc.year_end; year++) {
                for (let month = 1; month <= 12; month++) {
                    const item = data[year] && data[year][month];
                    const y = item ? item.value : null;
                    predictionData.push({
                        x: category(year, month),
                        y: item ? item.predicted_value : null,
                        difference: item ? item.prediction_difference : null,
                        differencePct: item ? item.prediction_difference_pct : null,
                    });
                }
            }

            if (predictionData) {
                hasData = true;
            }
            series.push({
                data: predictionData,
                name: "Estimat af årsindkomst",
                type: "column",
            });
            labelledSeries.push(series.length-1);
        }
    }

    if (row.income_sum) {
        const actualData = [];
        for (let year = doc.year_start; year <= doc.year_end; year++) {
            var sum = row.income_sum[year];
            if (sum === undefined) {
                sum = 0;
            }
            for (let month = 1; month <= 12; month++) {
                actualData.push({
                    x: category(year, month),
                    y: sum,
                });
            }
        }
        // Add line graph for "income_sum"
        series.push({
            data: actualData,
            name: "Faktisk årsindkomst",
            type: "line",
        });
    }

    if (hasData) {
        // Construct chart data by combining series and options
        chartData.series = series;
        const annotations = [];
        for (let year = doc.year_start; year <= doc.year_end; year++) {

            // Make sure the last color is always white
            if ((year - doc.year_end) % 2 === 0){
                fillColor = '#ffffff';
            } else {
                fillColor = '#D3D3D3';
            }
            annotations.push({
              x: "Jan " + year,
              x2: "Jan " + (year + 1),
              borderColor: '#775DD0',
              fillColor: fillColor,
              strokeDashArray: 8,
              opacity: 0.1,
              label: {
                style: {
                  color: '#808080',
                },
                text : year
              }
            });
        }
        chartData.annotations = {
          xaxis: annotations
        };
        console.log(chartData);
        return chartData;
    }
    return null;
};

const createCard = function(id, title) {
    const cardId = "chart_"+id;
    const card = $(`
            <div class="card m-2">
                <a class="card-link" data-bs-toggle="collapse" href="#${cardId}">
                    <div class="card-header">
                        ${title}
                    </div>
                </a>
                <div id="${cardId}" class="collapse show">
                    <div class="card-body"></div>
                </div>
            </div>
            `);
    $("#card_container").append(card);
    return card;
}


// Fetch dataset from server and render each row of dataset as separate charts.
// There is currently one row per employer.
const doc = JSON.parse($("#chart_data").text());

const years = [];
for (let year = doc.year_start; year <= doc.year_end; year++) {
    years.push(year);
}
let payouts;

for (const rowId in doc.rows) {
    const row = doc.rows[rowId];

    if (row.payout) {
        payouts = bucketize(row.payout);
    }

    // Insert DOM element for chart
    const card = createCard(rowId, row.title)
    const cardBody = card.find(".card-body");

    if (row.payout) {
        cardBody.append($("<div>Klik på grafen for at se detaljer</div>"));
    }

    const chartElem = $("<div></div>");
    cardBody.append(chartElem);

    // Get chart data
    const chartData = getChartData(doc, row, rowId, chartOptions);
    if (chartData === null) {
        chartElem.append($('<div class="d-flex justify-content-center">Ingen estimater</div>'));
    } else {
        // Render chart into DOM element
        const chart = new ApexCharts(chartElem.get(0), chartData);
        chart.render();
    }
}
const year_calculation_methods = doc.calculation_methods;

const monthNames = ["Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December"];
const graphModal = new bootstrap.Modal('#modal-graph', {keyboard: false});
const graphModalBody = $("#modal_graph_container");
const openPayoutGraph = function (index) {
    const year = years[~~(index / 12)];  // Integer division
    const month = (index % 12) + 1;
    const formatter = new Intl.NumberFormat("da-DK", { style: "currency", currency: "DKK" });

    if (year in payouts && month in payouts[year]) {
        let payout_obj = payouts[year][month];
        $("#modal_month").text(`${monthNames[month - 1]} ${year}`);
        $("#modal_estimated_year_result").text(formatter.format(payout_obj.estimated_year_result));
        $("#modal_estimated_year_benefit").text(formatter.format(payout_obj.estimated_year_benefit));

        const element = $(`<div></div>`);
        graphModalBody.empty();
        graphModalBody.append(element);
        const method = year_calculation_methods[year];
        let data = method.points
        if (payout_obj.estimated_year_result > data[data.length - 1][0]) {
            // result is greater than our current max point in the graph
            data = [...method.points, [payout_obj.estimated_year_result, 0]];  // Clone array
        }

        const chart = new ApexCharts(element.get(0), {
            "chart": {
                "type": "line"
            },
            "series": [{
                "name": "Beskæftigelsestilskud",
                "data": data,
            }],
            "xaxis": {
                "type": "numeric",
                "title": {
                    "text": "Estimeret årsindkomst"
                }
            },
            "yaxis": {
                "title": {
                    "text": "Beregnet beskæftigelsestilskud for hele året"
                }
            },
            "annotations": {
                "xaxis": [{
                    "x": payout_obj.estimated_year_result || 0,
                    "borderColor": '#FF4560',
                    "strokeDashArray": 0
                }],
                "yaxis": [{
                    "y": payout_obj.estimated_year_benefit || 0,
                    "borderColor": '#FF4560',
                    "strokeDashArray": 0
                }],
                "points": [{
                    "x": payout_obj.estimated_year_result || 0,
                    "y": payout_obj.estimated_year_benefit || 0,
                    "marker": {
                        "size": 4,
                        "fillColor": "#FF4560",
                        "strokeColor": "#fff"
                    },
                    "label": {
                        "borderColor": '#FF4560',
                    }
                }]
            },
            "tooltip": {
                "enabled": false,
            }
        });
        chart.render();
        graphModal.show();
    }
};

});

</script>
{% endblock %}
