<!--
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->

{% load static %}
{% load i18n %}
{% load csp %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}"  nonce="{{request.csp_nonce}}">
    <link rel="stylesheet" href="{% static 'bf/style.css' %}"  nonce="{{request.csp_nonce}}">
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <title>{% translate "Beskæftigelsesfradrag" %}</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
<header>
    {% if environment != "production" %}
        <nav class="bg-warning">
            <p class="text-center fw-bold my-0">
                {{environment|upper}}
            </p>
        </nav>
    {% endif %}
    <nav class="nav flex-column flex-sm-row p-1 bg-dark" data-bs-theme="dark">
        {% block nav_items %}
        {% endblock %}

        <span class="m-2 pt-2 ms-auto">
            {{user.first_name}} {{user.last_name}}
        </span>
        {% if user.is_authenticated %}
            <a href="{% url 'login:logout' %}" class="btn btn-primary mx-1 my-2" id="logout-link">
                {% translate "Log out" %}
            </a>
        {% endif %}

        <span class="locale-changer navbar-text">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                {% get_current_language as current_language %}
                {% get_available_languages as languages %}
                {% get_language_info_list for languages as languages %}
                <select class="form-control form-select" name="language">
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == current_language %} selected{% endif %}>
                        {{ language.name_local|capfirst }}
                    </option>
                {% endfor %}
                </select>
            </form>
        </span>

        <button type="button" class="btn btn-outline-primary mx-1 my-2" data-bs-toggle="modal" data-bs-target="#about_modal">
            Om
        </button>
    </nav>
    <hr class="p-0 m-0"/>
</header>

{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block modals %}
{% endblock %}

<div id="about_modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Beskæftigelsesfradrag</h5>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tr>
                        <th>{% translate 'Version' %}:</th>
                        <td>{{version}}</td>
                    </tr>
                    <tr>
                        <th>{% translate 'Kildekode' %}:</th>
                        <td>
                            <a href="https://github.com/magenta-aps/beskaeftigelsestilskud/">
                                https://github.com/magenta-aps/beskaeftigelsestilskud/
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
