{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends 'common/base.html' %}
{% load i18n %}
{% load bootstrap_icons %}
{% load static %}

{% block extra_headers %}
    <script src="{% static 'jquery/besk.js' %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}

<nav class="bg-warning" id="two_factor_confirmation" style="display:none">
    <p class="text-center fw-bold my-0">
        {% bs_icon "shield-check" size="2em" extra_classes="my-1" %}
        {% translate "To-faktor-godkendelse er nu aktiv" %}
    </p>
</nav>

<div class="row mt-1 mb-5 mx-1">
    <h1>{% translate "Velkommen" %}</h1>
    <p>{% translate "Til beskæftigelsestilskud portalen." %}</p>
</div>
<div class="card mx-3" style="display:inline-block;">
  <h5 class="card-header">{% translate "Genveje" %}</h5>
    <ul class="mx-4 my-2" style="list-style-position: inside; padding: 0">
        <li style="display:inline-block;">
            <a href="{% url 'data_analysis:person_years' year=this_year %}" class="btn btn-outline-dark">
                {% bs_icon "clipboard-data" size="5em" %}
                <br>
                <br>
                {% translate "Estimeringsoverblik" %} {{ this_year }}
            </a>
        </li>
        <li style="display:inline-block;">
            <a href="{% url 'data_analysis:person_years' year=last_year %}" class="btn btn-outline-dark">
                {% bs_icon "clipboard-data" size="5em" %}
                <br>
                <br>
                {% translate "Estimeringsoverblik" %} {{ last_year }}
            </a>
        </li>
    </ul>
</div>

<script nonce="{{ request.csp_nonce }}">
var two_factor_success = getUrlParameter("two_factor_success");
if (two_factor_success=="1"){
    $("#two_factor_confirmation").show();
    }
</script>
{% endblock %}
