/*
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
*/
textarea {
    resize: none;
}

.card>a {
    color: var(--bs-body-color);
    text-decoration: none;
}

.dropdown-menu {
    z-index: 10000;
}

.errorlist {
    list-style-type: none;
    padding: 0;
    color: red;
    margin: 0;
}

/* Disable "is-valid" style on "filter" forms */
form.filter-form .is-valid {
    --bs-form-select-bg-icon: none !important;
    border-color: var(--bs-border-color) !important;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none) !important;
    padding-right: 0.75rem;
}

form.filter-form .is-valid:focus {
    /* Use default Bootstrap blue focus border rather than a green focus border */
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

form.joblist-form input[type="text"] {
    width: 250px;
}

form.joblist-form select {
    min-width: 125px !important;
}

form.joblist-form .filter_label {
    min-width: 125px !important;
}

iframe.eboks {
    width: 100%;
    min-height: 600pt;
}

.alert {
    margin-top: var(--bs-alert-margin-bottom);
}

.alert-container {
    z-index: 10001;
}

.joblog-popover-fejl {
    --bs-popover-max-width: 350px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-bg: var(--bs-danger-bg-subtle);
}

.popover:has(.popover-header) {
    inset: -10px auto auto 0px !important;
}

.popover-arrow:has(+ .popover-header) {
    top: 10px !important
}

/* Pagination */

.pagination .pagination-page-links,
.pagination .pagination-arrow-links {
    padding: 0.5rem 1rem
}

.pagination .pagination-page-links {
    color: var(--bs-primary);
    font-weight: bold;
    text-decoration: none;
}

.pagination .pagination-page-links:hover {
    background-color: #e3d9d3;
}

.pagination .pagination-page-links.active {
    background-color: #dacac4;
}

.pagination .pagination-arrow-links {
    padding: 0.5rem 0.5rem 0 0.5rem;

    background-color: var(--bs-primary) !important;
    color: var(--bs-light);
}

.pagination .pagination-arrow-links .material-icons {
    font-size: 1.5rem !important;
}

.pagination span.pagination-arrow-links {
    background-color: transparent !important;
    color: var(--bs-grey)
}

.pagination .pagination-ellipsis {
    padding: 0.5rem
}

.hidden {
    display: none;
}