/*
SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
*/
.card > a {
    color: var(--bs-body-color);
    text-decoration: none;
}

.dropdown {
  z-index: 10000;
}

.errorlist {
  list-style-type: none;
  padding: 0;
  color: red;
}
