{# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% load i18n %}

<div class="me-2 mb-3 info">
    <b>{% translate "Ændring i estimering af årsindkomst" %}</b>
    <p>
        {% blocktranslate trimmed %}
            Skattestyrelsen har ændret metoden til estimering af din årsindkomst. 
            Den nye estimering af din årsindkomst og din årlige Suila-tapit vil blive 
            vist, næste gang Suila modtager signal fra arbejdsmarkedet.
        {% endblocktranslate %}
    </p>
</div>
