{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% load i18n %}

{% blocktranslate asvar person_pause_text trimmed %}
Du har sat dine udbetalinger på pause.
{% endblocktranslate %}

{% blocktranslate asvar skat_pause_text trimmed %}
Dine udbetalinger er sat på pause. Du har oplyst Skattestyrelsen,
at dine udbetalinger skal sættes på pause.
{% endblocktranslate %}

{% blocktranslate asvar threshold_pause_text trimmed %}
Skattestyrelsen har sat dine Suila-tapit-udbetalinger på pause.
Pausen skyldes, at din forventede årsindkomst er tæt på indtægtsgrænsen for Suila-tapit,
eller at Skattestyrelsen har modtaget andre oplysninger om din forventede årsindkomst.
{% endblocktranslate %}

<div class="me-2 mb-3 info">
    <b> {% translate "Udbetalingspause" %} </b>
    <p>
        {% if user_who_pressed_pause == "self" %}
            {{ person_pause_text }}
        {% elif user_who_pressed_pause == "skattestyrelsen" %}
            {{ skat_pause_text }}
        {% endif %}        

    {% if show_pause_effect_date %}
        {% blocktranslate trimmed with date=pause_effect_date  %}
            Udbetalingspausen vil være gældende fra d. {{date}}.
        {% endblocktranslate %}
    {% endif %}


    </p>
    <i>
        {% blocktranslate trimmed %}
            Sidst ændret:
        {% endblocktranslate %}           
        {{ paused_last_change }}
    </i>
</div>
