# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

[run]
relative_files = True
branch = True
source = .
omit =
    */manage.py
    */project/*
    */admin.py
    */apps.py
    */urls.py
    */tests.py
    */__init__.py
    */migrations/*
    */tests/*
    */mitid_test/*
    */suila/simulation.py
    */suila/integrations/eskat/responses/*
    */data_update/*
    */management/commands/make_messages.py
    */management/commands/create_api_group.py
    */management/commands/create_groups.py
    */management/commands/create_user.py
    */management/commands/eboks_send.py
    */management/commands/eboks_update_status.py
    */management/commands/estimate_income.py
    */management/commands/export_benefits_to_prisme.py
    */management/commands/export_users.py
    */management/commands/get_employer_info_from_dafo.py
    */management/commands/get_person_info_from_dafo.py
    */management/commands/import_u1a_data.py
    */management/commands/import_users.py
    */management/commands/load_dummy_calculation_method.py
    */management/commands/load_eskat.py
    */management/commands/load_prisme_b_tax.py
    */management/commands/test_end_to_end_for_cpr.py
    */management/commands/load_prisme_benefits_posting_status.py
    */management/commands/wait_for_db.py
    */management/commands/create_dummy_data.py
parallel = true
concurrency = multiprocessing
