# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

[run]
relative_files = True
branch = True
source = .
omit =
    */manage.py
    */project/*
    */admin.py
    */apps.py
    */urls.py
    */tests.py
    */__init__.py
    */migrations/*
    */tests/*
    */mitid_test/*
    */suila/simulation.py
    */suila/integrations/eskat/responses/*
    */data_update/*
    */management/commands/make_messages.py
    */management/commands/create_user.py
    */management/commands/export_users.py
    */management/commands/import_users.py
    */management/commands/load_dummy_calculation_method.py
    */management/commands/wait_for_db.py
    */management/commands/create_dummy_data.py
parallel = true
concurrency = multiprocessing
