{# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/eboks/base.html" %}

{% block content %}
    <style>
        table.bordered, table.bordered th, table.bordered td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        div.cpr {
            vertical-align: top;
            text-align: right;
        }
        div.address {
            font-size: 0.8rem;
            padding-left: 20pt;
            font-family: calibri, sans-serif;
            margin-bottom: 2cm;
            margin-top: 2cm;

            min-height: 4cm;
            padding-top: 0.5cm;
            padding-bottom: 0.5cm;
        }
    </style>

    <table style="width: 100%">
        <tr>
            <td style="vertical-align: top">
                <div class="address">
                    {{ person.name }}<br/>
                    {% if person.full_address %}
                        {% for line in person.full_address_splitted %}
                            {{ line }}<br/>
                        {% endfor %}
                    {% elif person.foreign_address %}
                        {{ person.foreign_address }}
                    {% endif %}
                </div>
            </td>
            <td style="text-align: right; vertical-align: top">
                <div class="cpr">
                    {{ person.cpr }}
                </div>
            </td>
        </tr>
    </table>

    <h3 class="left">Suila-tapinik naatsorsuineq</h3>

    <p>
        Suila-tapit tassaavoq sulinermut ilanngaat tunniunneqartoq. Akileraartarnermik aaqqissuusseqqinnerup ilaatut
        akuersissutigineqarluni 1. januar 2025 aallarnerfigalugu atuutilerpoq. Suila-tapit tunniunneqartarpoq
        innuttaasunut akissarsiortutut aningaasarsialinnut, tunisinikkut isertitalinnut, namminersorluni
        inuussutissarsiummik ingerlataqarnikkut sinneqartoorutilinnut kiisalu iluanaarutisianik tunineqarsimasunut.
    </p>
    <p>
        2025-mi aningaasarsiatit tunngavigalugit, 2024-milu aningaasarsiannut sanilliussinikkut 2025-mi ukiumut
        aningaasarsiariumaagassattut naatsorsuutigineqartut Akileraartarnermut Aqutsisoqarfiup naatsorsorpai.
    </p>

    <table style="width: 100%">
        <tr>
            <td>Suila-tapit 2025-mi januarimut tunngatillugu tunniunneqartussaq</td>
            <td style="text-align: right">Paasissutissat utaqqineqarput</td>
        </tr>
        <tr>
            <td>Tunngavigineqartut: Ukiumut isertitariumaagassatut naatsorsuutigisat</td>
            <td style="text-align: right; width: 25%">kr. {{ personmonth.sum_income|default_if_none:"0,00" }}</td>>
        </tr>
    </table>

    <p>
        Maanna allagarsisinneqarninnut pissutaavoq, Akileraartarnermut Aqutsisoqarfiup takusinnaammagu 2025-mi
        aningaasarsiariumaagassattut naatsorsuutigineqartut ima amerlatigisut, allaat Suila-tapinik
        tunineqarsinnaanermut killigitinneqartumut qanittuararsuullutik. Imaassinnaavoq Suila-tapinik
        tunineqarsinnaassasutit, kisianni Akileraartarnermut Aqutsisoqarfiup tamanna pillugu paasissutissaatai suli
        qularnartoqarput. Taamaattumik Suila-tapinik tunniussinnginnermi aningaasarsiatit pillugit paasissutissat
        amerlanerusut utaqqineqarput.
    </p>

    <img src="file:///static/suila/graf_grænse_kl.png" style="width: 100%" alt="graf"/>

    <p>
        Ukiumut aningaasarsiariumaagassattut naatorsuutigineqartut 475.000 – 500.000 kr.-it akornanniinnerat
        Akileraartarnermut Aqutsisoqarfiup takusinnaammagu aningaasat tunniunneqanngikkallassapput. Tamanna ima
        isumaqarpoq:
    </p>
    <ul>
        <li>
            Ukiumut aningaasarsiariumaagassatut naatsorsuutigisavit 475.000 – 500.000 kr.-iuinnarnissaat paasissutissat
            Akileraartarnermut Aqutsisoqarfiup ukiup ingerlanerani tigusaasa takutippassuk, taava Suila-tapit
            qaammatikkaartumik ilinnut tunniunneqartassanngilaq. Tassunga taarsiullugu qaammatinut januar 2025-miit
            november 2025-mut tunniutassat 2026-mi januarimi ataatsikkut tigujumaarpatit.
        </li>
        <li>
            Ukiumut aningaasarsiariumaagassatut naatsorsuutigisavit 475.000 kr.-init ikinnerunissaat paasissutissat
            Akileraartarnermut Aqutsisoqarfiup ukiup ingerlanerani tigusaasa takutippassuk, taava qaammatikkaartumik
            tunniussisarnissaq Akileraartarnermut Aqutsisoqarfiup aallartissavaa. Tamanna pisassaaq qaammatit tamaasa
            marlunngornerit pingajuanni.
        </li>
        <li>
            Aningaasarsiatit tamarmiusut 500.000 kr.-init amerlanerusut paasineqarpat Suila-tapinik
            tunineqarsinnaassanngilatit.
        </li>
    </ul>
    <p>
        Malugiuk: Suila-tapit taamaallaat NemKonto aqqutigalugu tunniunneqartarpoq.
    </p>
    <p>
        Pisortanut akiitsoqaruit aningaasat tunniunneqannginneranni taakku pingajorarterutaat tikillugit
        ilanngaatigineqarsinnaapput. Ilanngaasoqarpat aningaasanik ikinnerusunik tunineqassaatit, aningaasammi ilaat
        illit pisortanut akiitsuit akilersornerannut atorneqarmata.
    </p>

    <h3>
        Paasissutissat
    </h3>
    <p>
        Ukiumut aningaasarsiariumaagassatut naatsorsuutigineqartut, taamatullu aamma tunniunneqartussanut
        tunngavigineqartut uani takusinnaavatit.
    </p>
    <table class="bordered" style="width: 100%">
        <thead>
        <tr>
            <td></td>
            <th style="text-align: right">{{ month_name|capfirst }} {{ year }}</th>
            <th style="text-align: right">Katillugit {{ year }}</th>
            <th style="text-align: right">{{ year|add:"-1" }}</th>
            <th style="text-align: right">{{ year|add:"-2" }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Tunisanit iluanaarutissatut naatsorsuutigisat</th>
            {% for amount in income.catchsale_income %}
                <td style="text-align: right">{{ amount }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Akissarsiortutut aningaasarsiat A-t</th>
            {% for amount in income.salary_income %}
                <td style="text-align: right">{{ amount }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Akileraarutit B-t akilersimasat</th>
            {% for amount in income.btax_paid %}
                <td style="text-align: right">{{ amount }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Iluanaarutisiatut pissarsiat</th>
            {% for amount in income.capital_income %}
                <td style="text-align: right">{{ amount }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <p>
        Aningaasarsiat A-t pillugit paasissutissat Akileraartarnermut Aqutsisoqarfiup, sulisitsisut akissarsiat pillugit
        nalunaarutaannit, tunisallu pillugit paasissutissat tunitsiviit nalunaarutaannit pissarsiarai. Paasissutissat
        eqqunngitsuusorigukkit, taava sulisitsisunnut tunitsivigisartakkannulluunniit erseqqinnerusumik
        paasiniaassaatit.
    </p>
    <p>
        Akileraarutit B-t akilersimasat pillugit paasissutissat illit 2025-mut siumoortumik nalunaarsukkatit
        tunngavigalugit akileraarutinik B-nik akiliininneersuupput. Siumoortumik nalunaarsuineq eqqunngitsuusorigukku,
        taanna Sullissivik.gl-ikkut sukkulluunniit allanngortissinnaavat. Iluanaarutisiat pillugit paasissutissat
        selskabit ilinnut iluanaarutisiaqartitsisimanerminnik nalunaarutaanneersuupput. Iluanaarutisianik siorna
        pissarsisimaguit, taava aamma ukioq manna pissarsinissat Akileraartarnermut Aqutsisoqarfiup ilimagaa. Ukiuni
        siusinnerusuni iluanaarutisiaasimasut pillugit paasissutissat taamaalillutik ukioq manna illit ukiumut
        aningaasarsiariumaagassattut naatsorsuutigisat naatsorsorneqarnerannut sunniuteqarput.
    </p>

    <h3>Sullissivik.gl-ikkut malinnaagit</h3>
    <p>
        Suila-tapinik naatsorsuinermik ukiumut ataasiarlutit nassinneqartassaatit. Qaammatikkaartumik
        tunniunneqartartunut tunngavigineqartut pillugit paasissutissat malinnaaffigerusukkukkit Sullissivik.gl
        iserfigisinnaavat.
    </p>

{% endblock %}
