{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "common/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item">{% translate "Hvad er Suila-tapit?" %}</li>
{% endblock %}

{% block title %}
{% translate "Hvad er Suila-tapit?" %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <h2>{% translate "Se videoen om Suila-tapit" %}</h2>
        <div class="my-5">
            <iframe nonce="{{ request.csp_nonce }}" width="720" height="405" src="https://www.youtube.com/embed/Ti86S9FA6t0" title="" frameBorder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowFullScreen></iframe>
        </div>
        <h2>{% translate "Få mere information om Suila-tapit" %}</h2>
        <ul class="mt-3">
            <li>{% translate 'På <a href="https://www.sullissivik.gl/Emner/B_Skatter-afgifter-og-gaeld-til-det-offentlige/Skat/Suilatapit-Beskaeftigelsesfradrag" target="_blank">Sullissivik.gl</a>' %}</li>
            <li>{% translate 'Hos <a href="https://aka.gl/emner/borger/skat/suila-tapit---beskaeftigelsesfradrag" target="_blank">Skattestyrelsen</a>' %}</li>
            <li>{% translate '<a href="https://www.facebook.com/profile.php?id=61573559829551" target="_blank">Suila-tapit på Facebook</a>' %}</li>
        </ul>
    </div>
</div>
{% endblock %}
