{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "data_analysis/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load suila_tags %}
{% load bootstrap_icons %}

{% block extra_headers %}
    <script id="graph_points" type="application/json" nonce="{{ request.csp_nonce }}">{{ graph_points|safe }}</script>
    <link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
    <script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script nonce="{{ request.csp_nonce }}">
        $(function() {
            const graphPoints = JSON.parse($("#graph_points").text());
            const graphModal = new bootstrap.Modal('#modal-graph', {keyboard: false});
            const graphModalBody = $("#modal-graph-container");
            const openPayoutGraph = function(data) {
                const element = $(`<div></div>`);
                graphModalBody.empty();
                graphModalBody.append(element);
                const chart = new ApexCharts(element.get(0), {
                    "chart": {
                        "type": "line",
                        "zoom": {
                            "allowMouseWheelZoom": false,
                        }
                    },
                    "series": [{
                        "name": "Beskæftigelsestilskud",
                        "data": data,
                    }],
                    "xaxis": {
                        "type": "numeric",
                        "title": {
                            "text": "Estimeret årsindkomst"
                        }
                    },
                    "yaxis": {
                        "title": {
                            "text": "Beregnet beskæftigelsestilskud for hele året"
                        }
                    },
                    "tooltip": {
                        "enabled": false,
                    },
                });
                chart.render();
                graphModal.show();
            };

            $("[data-action=graph]").on("click", function() {
                const $this = $(this);
                if ($this.data("method-id") !== undefined) {
                    openPayoutGraph(graphPoints[$this.data("method-id")]);
                } else if ($this.data("form") && $this.data("url")) {
                    const form = $($this.data("form"));
                    const fields = form.serialize();
                    const url = $this.data("url");
                    form.find(".is-invalid").removeClass("is-invalid");
                    form.find(".invalid-feedback").remove();
                    $.ajax({
                            "url": url,
                            "data": fields,
                            "success": (data) => {
                                openPayoutGraph(data["points"])
                            },
                            "error": (jqxhr) => {
                                const data = jqxhr.responseJSON;
                                if (data) {
                                    const errors = data["errors"];
                                    if (errors) {
                                        for (let field in errors) {
                                            const fieldErrors = errors[field];
                                            const element = $(`[name=${field}]`);
                                            const errorElement = $('<ul class="invalid-feedback errorlist"></ul>');
                                            for (let fieldError of fieldErrors) {
                                                errorElement.append($(`<li>${fieldError["message"]}</li>`));
                                            }
                                            element.parent().append(errorElement);
                                            element.addClass("is-invalid");
                                        }
                                    }
                                }
                            }
                        }
                    )
                }

            });
        });
    </script>
{% endblock %}
{% block content %}
    <form action="" method="post" id="calculation-parameters">
    {% csrf_token %}
    <div class="row my-1 mx-1">
        <h1>{% translate "Beregningsparametre" %} </h1>
    </div>
    <div class="row my-1 mx-1">
        <table class="table table-bordered"  id="table">
            <thead class="shadow-sm p-3 mb-5 bg-body rounded sticky-top">
            <tr>
                <th>
                    Skatteår
                </th>
                <th>
                    {{ form.benefit_rate_percent.label }}
                </th>
                <th>
                    Personfradrag
                </th>
                <th>
                    Standardfradrag
                </th>
                <th>
                     Maksimalt Suila-tapit
                </th>
                <th>
                    Aftrapningsprocent
                </th>
                <th>
                    Aftrapningsbeløb
                </th>
                <th>
                    Handlinger
                </th>
            </tr>
            </thead>
            <tbody>
            {% for year in object_list %}
                {% with calculation_method=year.calculation_method %}
                <tr>
                    <td>{{ year.year }}</td>
                    <td>{{ calculation_method.benefit_rate_percent }}</td>
                    <td>{{ calculation_method.personal_allowance }}</td>
                    <td>{{ calculation_method.standard_allowance }}</td>
                    <td>{{ calculation_method.max_benefit }}</td>
                    <td>{{ calculation_method.scaledown_rate_percent }}</td>
                    <td>{{ calculation_method.scaledown_ceiling }}</td>
                    <td><button type="button" class="btn btn-primary" data-action="graph" data-method-id="{{ calculation_method.pk }}">Graf</button></td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>
                    {{ next_year }}
                </td>
                <td>
                    {{ form.benefit_rate_percent }}
                </td>
                <td>
                    {{ form.personal_allowance }}
                </td>
                <td>
                    {{ form.standard_allowance }}
                </td>
                <td>
                    {{ form.max_benefit }}
                </td>
                <td>
                    {{ form.scaledown_rate_percent }}
                </td>
                <td>
                    {{ form.scaledown_ceiling }}
                </td>
                <td>
                    <div class="col-12 btn-group">
                        <button type="button" class="btn btn-primary" data-action="graph" data-form="#calculation-parameters" data-url="{% url 'suila:calculation_parameters_graph' %}">Graf</button>
                        <button type="submit" class="btn btn-success">Gem</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    {{ form.errors }}
{#        <div id="engine_parameters">#}
{#                <div class="row align-items-center my-1">#}
{#                    <div class="col-md-6">#}
{#                        <label for="{{ form.benefit_rate_percent.name }}">{{ form.benefit_rate_percent.label }}</label>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        {{ form.benefit_rate_percent }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row align-items-center my-1">#}
{#                    <div class="col-md-6">#}
{#                        <label for="{{ form.personal_allowance.name }}">{{ form.personal_allowance.label }}</label>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        {{ form.personal_allowance }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row align-items-center my-1">#}
{#                    <div class="col-md-6">#}
{#                        <label for="{{ form.standard_allowance.name }}">{{ form.standard_allowance.label }}</label>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        {{ form.standard_allowance }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row align-items-center my-1">#}
{#                    <div class="col-md-6">#}
{#                        <label for="{{ form.max_benefit.name }}">{{ form.max_benefit.label }}</label>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        {{ form.max_benefit }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row align-items-center my-1">#}
{#                    <div class="col-md-6">#}
{#                        <label for="{{ form.scaledown_rate_percent.name }}">{{ form.scaledown_rate_percent.label }}</label>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        {{ form.scaledown_rate_percent }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row align-items-center my-1">#}
{#                    <div class="col-md-6">#}
{#                        <label for="{{ form.scaledown_ceiling.name }}">{{ form.scaledown_ceiling.label }}</label>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        {{ form.scaledown_ceiling }}#}
{#                    </div>#}
{#                </div>#}

{#                <button type="submit" class="btn btn-success">Gem</button>#}

        </div>
    </div>
    <div id="modal-graph" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"><h5 class="modal-title">Beregningsgraf</h5></div>
                <div class="modal-body">
                    <div id="modal-graph-container"></div>
                </div>
            </div>
        </div>
    </div>
    </form>

{% endblock %}
