{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "common/base.html" %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load django_bootstrap5 %}
{% load amount_tags %}

{% block breadcrumb %}
<li class="breadcrumb-item">{% translate "Suila-tapit-beregneren" %}</li>
{% endblock %}

{% block title %}
{% translate "Suila-tapit-beregneren" %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-xl-6">
        <p>
            {% blocktrans trimmed %}
            Indtast din forventede månedsløn eller din forventede årsindkomst for at få en vejledende beregning på,
            hvor meget Suila-tapit du kan få udbetalt månedligt og årligt.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Husk arbejdsgiverbetalt pension. Arbejdsgiverbetalt pension regnes også med til din indkomst.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Grafen viser sammenhængen mellem de gennemsnitlige månedlige Suila-tapit udbetalinger, og den indkomst du
            har angivet.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Bemærk, at denne beregning kun er vejledende. Dine personlige indkomstforhold kan påvirke den endelige
            beregning af din Suila-tapit.
            {% endblocktrans %}
        </p>
        <form action="" method="post" class="form filter-form" novalidate>
            {% csrf_token %}
            {# Show monthly and yearly income inputs #}
            {% bootstrap_field form.estimated_month_income layout="horizontal" horizontal_label_class="col-6" horizontal_field_class="col-6" %}
            {% bootstrap_field form.estimated_year_income layout="horizontal" horizontal_label_class="col-6" horizontal_field_class="col-6" %}
            {% if user|has_permissions:"suila.use_adminsite_calculator_parameters" %}
            {# Show engine selector #}
            <div class="row align-items-center my-1">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#engine_modal">
                        {% translate "Indlæs beregningsmotor" %}
                    </button>
                </div>
            </div>
            {{ form.method }}
            <div id="engine_parameters">
                {% for fieldname, field in engines.0.fields.items %}
                <div class="row align-items-center my-1">
                    <div class="col-md-6">
                        <label for="{{ fieldname }}">{{ field.label }}</label>
                    </div>
                    <div class="col-md-6">
                        {% with form.errors|get:fieldname as errors %}
                            <input type="number" name="{{ fieldname }}"
                                   value="{{ form.data|get:fieldname|default:field.value }}"
                                   class="form-control {% if errors %}is-invalid{% endif %}" step="0.01"/>
                            {% if errors %}{{ errors }}{% endif %}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary d-inline-flex align-items-center" disabled>
                <span class="ms-1">{% translate "Beregn" %}</span>
                <span class="material-icons">arrow_forward</span>
            </button>
            <button id="reset" class="btn btn-transparent d-inline-flex align-items-center">
                <span class="material-icons">restart_alt</span>
                <span class="ms-1">{% translate "Ryd" %}</span>
            </button>
        </form>
    </div>
    <div class="col-xl-6 mt-xl-0 mt-5">
        {% if monthly_benefit or yearly_benefit %}
        <div class="emphasis">
            <p>{% translate "Beregnet Suila-tapit pr. måned:" %}</p>
            <h1>{{ monthly_benefit|format_amount }}</h1>
            <p class="mt-5">{% translate "Beregnet Suila-tapit for hele året:" %}</p>
            <h1>{{ yearly_benefit|format_amount }}</h1>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xl-12 mt-5">
        <div id="graph">
            {# Replaced by ApexChart graph at runtime #}
        </div>
    </div>
</div>

{% if user|has_permissions:"suila.use_adminsite_calculator_parameters" %}
{{ engines|json_script:"engines" }}
<div id="engine_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% translate "Indlæs beregningsmotor" %}</h5>
            </div>
            <div class="modal-body">
                <select id="engine_select" class="form-control">
                    {% for engine in engines %}
                    <option value="{{ forloop.counter0 }}">{{ engine.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button id="engine_selected" class="btn btn-primary" data-bs-target="#engine_modal" data-bs-toggle="modal">
                    {% translate "Indlæs" %}
                </button>
            </div>
        </div>
    </div>
</div>
<script nonce="{{ request.csp_nonce }}">
    const engine_parameters = $("#engine_parameters");
    const method = $("[name={{ form.method.name }}]");
    const engines = JSON.parse($("#engines").text());

    const update_parameters = function() {
        // On new engine selected
        engine_parameters.empty();
        const engine_index = parseInt($("#engine_select").val());
        const engine = engines[engine_index];

        for (let fieldname in engine["fields"]) {
            const field = engine["fields"][fieldname];
            const row = $(`<div class="row align-items-center my-1">
                <div class="col-6"><label for="${fieldname}">${field["label"]}</label></div>
                <div class="col-6"><input type="number" name="${fieldname}" value="${field["value"]}" class="form-control" step="0.01"/></div>
            </div>`);
            engine_parameters.append(row);
        }
        method.val(engine["class"]);
    }

    $("#engine_selected").on("click", update_parameters);
</script>
{% endif %}

{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
<script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% url 'javascript-catalog' %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% static "suila/graph.js" %}" nonce="{{ request.csp_nonce }}"></script>
<script id="graph_points" type="application/json" nonce="{{ request.csp_nonce }}">{{ graph_points|safe }}</script>
<script nonce="{{ request.csp_nonce }}">
$(document).ready(function () {
    const monthField = $("[name={{ form.estimated_month_income.name }}]");
    const yearField = $("[name={{ form.estimated_year_income.name }}]");
    const submitButton = $("button[type=submit]");
    const resetButton = $("button#reset");

    const enableSubmitOnValidInput = function () {
        // Either expected monthly income or expected yearly income must
        // contain a nonzero value before the form can be submitted.
        const valid = monthField.val() > 0 || yearField.val() > 0;
        if (valid) {
            submitButton.prop("disabled", null);
        } else {
            submitButton.prop("disabled", "disabled");
        }
    }

    const renderChart = function () {
        let data = JSON.parse($("#graph_points").text());
        let yearlyIncome = parseFloat(yearField.val());
        let yearlyBenefit = parseFloat("{{ yearly_benefit }}");

        renderGraph("#graph", data, yearlyIncome, yearlyBenefit);
    }

    resetButton.on("click", function (evt) {
        // Reset the input fields to empty
        monthField.val("");
        yearField.val("");
        // Disable the submit button until new values have been entered
        enableSubmitOnValidInput();
        // Update graph
        renderChart();
        // Prevent form submit
        evt.preventDefault();
    });

    monthField.on("change keyup", function () {
        yearField.val(12 * monthField.val());
        enableSubmitOnValidInput();
    });

    yearField.on("change keyup", function () {
        monthField.val(yearField.val() / 12)
        enableSubmitOnValidInput();
    });

    enableSubmitOnValidInput();
    renderChart();
});
</script>
{% endblock %}
