{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "common/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
{% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
    {% if person %}
    <li class="breadcrumb-item"><a href="{% url 'suila:person_search' %}">{% translate "Borgersøgning" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'suila:person_detail' pk=person.pk %}">{% translate "Mit overblik" %}</a></li>
    {% endif %}
{% endif %}
<li class="breadcrumb-item">{% translate "Mit estimerede Suila-tapit" %}</li>
{% endblock %}

{% block title %}
{% translate "Mit estimerede Suila-tapit" %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-xl-7">
        <p>
            {% blocktrans trimmed %}
            Her ser du sammenhængen mellem din forventede årsindkomst og den gennemsnitlige månedlige Suila-tapit
            udbetaling. De indtægter der indgår i beregningsgrundlaget, er overskud fra indhandling, overskud som
            selvstændig erhvervsdrivende, lønindkomster samt udbytte.
            {% endblocktrans %}
        </p>
    </div>
    {% if yearly_benefit is None %}
    <div class="col-xl-5 mt-xl-0 mt-5 emphasis">
        <h1>{% translate "Kan du ikke se dine tal?" %}</h1>
        <p class="mt-3">
            {% blocktrans trimmed %}
            Hvis Skattestyrelsen i løbet af året modtager oplysninger der viser, at du forventer at have en årsindkomst
            på 475.000-500.000 kr., vil du ikke modtage Suila-tapit en gang om måneden. Det er fordi din estimerede
            årsindkomst er tæt på den øvre grænse på 500.000 kr. for at være berettiget til Suila-tapit. Du modtager i
            stedet én samlet udbetaling for månederne januar 2025 til november 2025 i januar 2026.
            {% endblocktrans %}
        </p>
        <p class="mt-3">
            {% blocktrans trimmed %}
            Hvis din årsindkomst er under 70.000 kr. eller over 500.000 kr., vil du ikke modtage Suila-tapit, og dine
            tal vises derfor ikke på grafen.
            {% endblocktrans %}
        </p>
    </div>
    {% endif %}
</div>
<div class="row mt-5">
    <div class="col-xl-12">
        <div id="graph">
            {# Replaced by ApexChart graph at runtime #}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "apexcharts/apexcharts.min.css" %}" nonce="{{ request.csp_nonce }}">
<script src="{% static "apexcharts/apexcharts.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% url 'javascript-catalog' %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% static "suila/graph.js" %}" nonce="{{ request.csp_nonce }}"></script>
<script id="graph_points" type="application/json" nonce="{{ request.csp_nonce }}">{{ graph_points|safe }}</script>
<script nonce="{{ request.csp_nonce }}">
$(document).ready(function () {
    let data = JSON.parse($("#graph_points").text());
    let yearlyIncome = parseFloat("{{ yearly_income }}");
    let yearlyBenefit = parseFloat("{{ yearly_benefit }}");
    renderGraph("#graph", data, yearlyIncome, yearlyBenefit);
});
</script>
{% endblock %}
