{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

<div class="d-flex justify-content-between">
    <div class="align-self-center">
        {{ page_obj.start_index }}-{{ page_obj.end_index }} af {{ paginator.count }} resultater
    </div>

    <div class="pagination">
        {# Previous button #}
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
            class="pagination-arrow-links rounded-start">
            <span class="material-icons">arrow_back</span>
        </a>
        {% else %}
        <span class="pagination-arrow-links rounded-start">
            <span class="material-icons">arrow_back</span>
        </span>
        {% endif %}

        {% if paginator.num_pages <= 11 %}
            {# show all pages if there are 10+1 or fewer #}
            {# (+1, since "10 ... 11", makes no sense) #}
            {% for pi in paginator.page_range %}
                <a href="?page={{ pi }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                class="pagination-page-links{% if page_obj.number == pi %} active{% endif %}">{{ pi }}</a>
            {% endfor %}
        {% else %}
            {% if page_obj.number <= 9 %}
                {# window at the beginning #}
                {% with start=1 end=10 %}
                    {% for pi in paginator.page_range %}
                        {% if pi >= start and pi <= end %}
                            <a href="?page={{ pi }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                            class="pagination-page-links{% if page_obj.number == pi %} active{% endif %}">{{ pi }}</a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                <span class="pagination-ellipsis">…</span>
                <a href="?page={{ paginator.num_pages }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                class="pagination-page-links{% if page_obj.number == paginator.num_pages %} active{% endif %}">{{ paginator.num_pages }}</a>
            {% elif page_obj.number >= paginator.num_pages|add:-5 %}
                {# window at the end #}
                <a href="?page=1{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                class="pagination-page-links{% if page_obj.number == 1 %} active{% endif %}">1</a>
                <span class="pagination-ellipsis">…</span>
                {% with start=paginator.num_pages|add:-9 end=paginator.num_pages %}
                    {% for pi in paginator.page_range %}
                        {% if pi >= start and pi <= end %}
                            <a href="?page={{ pi }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                            class="pagination-page-links{% if page_obj.number == pi %} active{% endif %}">{{ pi }}</a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            {% else %}
                {# window in the middle #}
                <a href="?page=1{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                class="pagination-page-links{% if page_obj.number == 1 %} active{% endif %}">1</a>
                <span class="pagination-ellipsis">…</span>
                {% with start=page_obj.number|add:-4 end=page_obj.number|add:5 %}
                    {% for pi in paginator.page_range %}
                        {% if pi >= start and pi <= end %}
                            <a href="?page={{ pi }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                            class="pagination-page-links{% if page_obj.number == pi %} active{% endif %}">{{ pi }}</a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                <span class="pagination-ellipsis">…</span>
                <a href="?page={{ paginator.num_pages }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
                class="pagination-page-links{% if page_obj.number == paginator.num_pages %} active{% endif %}">{{ paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

        {# Next button #}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if query_params_extra %}&{{ query_params_extra|safe }}{% endif %}"
            class="pagination-arrow-links rounded-end">
            <span class="material-icons">arrow_forward</span>
        </a>
        {% else %}
        <span class="pagination-arrow-links rounded-end">
            <span class="material-icons">arrow_forward</span>
        </span>
        {% endif %}
    </div>
</div>