{# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% load i18n %}
<p>
    {% blocktranslate trimmed %}
        Du har ikke en profil på Suila.gl
    {% endblocktranslate %}
</p>
<p>
    {% blocktranslate trimmed %}
        Du er logget ind på Suila.gl med MitID, men du har ikke en profil tilknyttet dit CPR-nr. De mest sandsynlige årsager til, at du ikke har en profil er, at:
    {% endblocktranslate %}
    <ul>
        <li>
            {% blocktranslate trimmed %}
                Du ikke har indkomst i Grønland eller at du ikke er fuldt skattepligtig til Grønland. Du kan kun få Suila-tapit, hvis du er fuldt skattepligtig til Grønland.
            {% endblocktranslate %}
        </li>
        <li>
            {% blocktranslate trimmed %}
                Suila endnu ikke har modtaget dine indkomstinformationer. Hvis du netop er begyndt at arbejde i Grønland, kan der gå en kortere periode, før du får en profil på Suila.gl.
            {% endblocktranslate %}
        </li>
    </ul>
</p>

<p>
    {% blocktranslate trimmed %}
        Her kan du finde mere information om Suila-tapit:
    {% endblocktranslate %}
    <ul>
        <li>
            {% blocktranslate trimmed with link="https://www.sullissivik.gl/Emner/B_Skatter-afgifter-og-gaeld-til-det-offentlige/Skat/Suilatapit-Beskaeftigelsesfradrag" %}
                På <a href="{{link}}">Sullissivik.gl</a>
            {% endblocktranslate %}
        </li>
        <li>
            {% blocktranslate trimmed with link="https://aka.gl/emner/borger/skat/suila-tapit---beskaeftigelsesfradrag" %}
                Hos <a href="{{link}}">Skattestyrelsen</a>
            {% endblocktranslate %}
        </li>
        <li>
            {% blocktranslate trimmed with link="https://www.facebook.com/profile.php?id=61573559829551" %}
                <a href="{{link}}">Suila-tapit på Facebook</a>
            {% endblocktranslate %}
        </li>
    </ul>
</p>

<p>
    {% blocktranslate trimmed with link="https://www.aka.gl/" %}
        Du kan kontakte Skattestyrelsen, hvis du har spørgsmål. Find mere information på <a href="{{link}}">www.aka.gl</a>
    {% endblocktranslate %}
</p>
