{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/person_detail_base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load amount_tags %}

{% block breadcrumb %}
{% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
<li class="breadcrumb-item"><a href="{% url 'suila:person_search' %}">{% translate "Borgersøgning" %}</a></li>
{% endif %}
<li class="breadcrumb-item">{% translate "Mit overblik" %}</li>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}"/>
{% endblock %}

{% block person_data %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="explainer">
            {% if not year_in_past %}
            {% blocktrans trimmed %}
            "Mit overblik" er dit overblik over kommende og tidligere udbetalinger af Suila-tapit for indeværende år.
            {% endblocktrans %}
            {% blocktrans trimmed %}
            Her får du et overblik over de vigtigste beløb og datoer, og en oversigt over dine forventede månedlige
            Suila-tapit udbetalinger.
            {% endblocktrans %}
            <br>
            <br>
            {% blocktrans trimmed %}
            Bemærk, at beløbene er vejledende, og kan ændre sig helt frem til den endelige udbetaling.
            {% endblocktrans %}
            {% else %}
            {% blocktrans trimmed %}
            Her kan du få et overblik over dine udbetalinger af Suila-tapit for forgangne år.
            {% endblocktrans %}
            {% endif %}
            <p><b>{% translate "Modregning" %}</b></p>
            {% blocktrans trimmed %}
            Hvis du har gæld til det offentlige, kan der ske modregning af op til en tredjedel af beløbet inden
            udbetaling. Modregning betyder, at du modtager et lavere beløb, fordi dele af beløbet er brugt til at
            afdrage på din gæld til det offentlige. Eventuelle modregninger fremgår ikke af oplysningerne her på siden.
            Er der sket modregning vil du modtage brev herom i din e-Boks.
            {% endblocktrans %}
            <p><b>{% translate "NemKonto" %}</b></p>
            {% blocktrans trimmed %}
            Suila-tapit udbetales kun til NemKonto. Hvis du ikke har en NemKonto, skal du oprette en, før du kan få
            udbetalt Suila-tapit. Har du ikke en NemKonto, skal du rette henvendelse til din bank herom.
            {% endblocktrans %}
        </div>
    </div>
</div>

{% if show_next_payment and not year_in_past %}
<div class="grid gap-3 mt-5">
    <div class="g-col-3 emphasis">
        <b>{% translate "Næste udbetalingsdato" %}</b>
        <h1 class="mt-3">{{ next_payout_date|date }}</h1>
    </div>
    <div class="g-col-3 emphasis">
        <b>{% translate "Næste forventede beløb til udbetaling" %}</b>
        <h1 class="mt-3">
            {% if paused or in_quarantine and quarantine_weight == 0 %}
                {{ 0|format_amount }} <i class="bi bi-exclamation-triangle-fill"></i>
            {% else %}
                {{ benefit_calculated|format_amount }}
            {% endif %}
        </h1>
    </div>
    <div class="g-col-3 emphasis">
        <b>
            {% blocktrans trimmed with year=year %}
            Forventet beløb til udbetaling for hele {{ year }}
            {% endblocktrans %}
        </b>
        <h1 class="mt-3">{{ estimated_year_benefit|format_amount }}</h1>
    </div>
    <div class="g-col-3 emphasis">
        <b>{% translate "Forventet årsindkomst fra arbejde" %}</b>
        <h1 class="mt-3">
        {% if manually_entered_income %}
            {{ manually_entered_income|format_amount }}
            <i class="bi bi-exclamation-triangle-fill"></i>
        {% else %}
            {{ estimated_year_result|format_amount }}
            {% if user|has_permissions:"suila.change_person" %}
                <button id="toggle_annual_income_form" class="btn btn-link">
                    <i class="bi bi-pencil-fill" style="font-size: 1.4rem"></i>
                </button>
            {% endif %}
        {% endif %}
        </h1>
        {% if person_id %}
        <div id="annual_income_form" class="d-none">
            <form method="post" action="{% url 'suila:set_person_annual_income_estimate' pk=person_id %}">
                {% csrf_token %}
                <input type="hidden" name="person" value="{{person_id}}"/>
                <input type="hidden" name="year" value="{{year}}"/>
                <input type="hidden" name="month" value="{{month}}"/>
                <div class="input-group mb-3">
                    <input type="text" name="annual_income_estimate">
                    <button type="submit" class="btn btn-primary">{% translate "Gem estimering" %}</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if paused %}
<div class="grid gap-3 mt-5">
    <div class="g-col-12 sidebar">
        <h2 class="mb-3"><i class="bi bi-exclamation-triangle-fill"></i> {% translate "Udbetalingspause" %} </h2>
        <p>
            {% if user_who_pressed_pause == "self" %}
                {% blocktrans trimmed %}
                    Du har sat dine udbetalinger på pause.
                {% endblocktrans %}
            {% elif user_who_pressed_pause == "skattestyrelsen" %}
                {% blocktrans trimmed %}
                    Dine udbetalinger er sat på pause. Du har oplyst Skattestyrelsen,
                    at dine udbetalinger skal sættes på pause.
                {% endblocktrans %}
            {% endif %}
        </p>
    </div>
</div>

{% elif in_quarantine and quarantine_weight == 0 %}
<div class="grid gap-3 mt-5">
    <div class="g-col-12 sidebar">
        <h2 class="mb-3"><i class="bi bi-exclamation-triangle-fill"></i> {{ quarantine_reason }}</h2>
        <p>
            {% blocktrans trimmed  with year=next_year %}
            Dine udbetalinger er blevet sat i bero. Du får udbetalt Suila-tapit
            i januar {{ year }}.
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endif %}

{% if manually_entered_income %}
{% if person_id %}
<div class="grid gap-3 mt-5">
    <div class="g-col-12 sidebar">
        <h2 class="mb-3"><i class="bi bi-exclamation-triangle-fill"></i> {% translate "Din årsindtægt er manuelt estimeret." %} </h2>
        <p>
            {% blocktrans trimmed %}
                Din estimerede årsindtægt er manuelt beregnet af Skattestyrelsen. Det er
                den manuelt beregnede årsindtægt, der ligger til grund for estimeringen
                af dit årlige Suila-tapit.
            {% endblocktrans %}
        </p>
        {% if user|has_permissions:"suila.change_person" %}
        <form method="post" action="{% url 'suila:set_person_annual_income_estimate' pk=person_id %}">
            {% csrf_token %}
            <input type="hidden" name="person" value="{{person_id}}"/>
            <input type="hidden" name="year" value="{{year}}"/>
            <input type="hidden" name="month" value="{{month}}"/>
            <input type="hidden" name="annual_income_estimate" value=""/>
            <button type="submit" class="btn btn-primary">{% translate "Skift til automatisk estimering" %}</button>
        </form>
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}

<div class="grid gap-3 mt-5">
    <div class="g-col-12 sidebar">
        <h2 class="mb-3">{% translate "Bemærk!" %}</h2>
        <p>
            {% blocktrans trimmed %}
            Der bliver kun foretaget udbetalinger, hvis Skattestyrelsen har modtaget signal fra arbejdsmarkedet i form
            af indberetning af løn fra arbejdsgivere, betalte B-skatter, indberetning af indhandling fra
            indhandlingssteder, eller oplysning om udloddet udbytte fra selskaber.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Du modtager ikke en udbetaling, hvis næste udbetalingsbeløb er mindre end 100 kr. Beløbet vil blive overført
            til næste måned.
            {% endblocktrans %}
        </p>
        <h3>{% translate "Sæt udbetalinger på pause" %}</h3>
        <p>
            {% blocktrans trimmed %}
            Hvis du ikke ønsker at modtage den månedlige udbetaling af Suila-tapit, har du nu
            mulighed for at sætte udbetalingerne på pause. Pausen varer, så længe du ønsker det.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Hvis du er berettiget, mister du ikke retten til Suila-tapit. Du modtager en
            årsopgørelse i august næste år, der viser, hvor meget Suila-tapit du har til
            gode eller har modtaget for meget.
            {% endblocktrans %}
        </p>
    </div>
</div>

<div class="grid gap-3 mt-5">
    {% if user|has_permissions:"suila.view_note" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_notes" pk=person.pk as person_notes_url %}
        {% jumbo_link person_notes_url _("Notater") "assignment" %}
    </div>
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_income" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Mine signaler") "assignment" %}
    </div>
    <div class="g-col-4 jumbo">
        {% url "suila:person_graph" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Mit estimerede Suila-tapit") "link" %}
    </div>
    {% else %}
    <div class="g-col-8 jumbo">
        {% url "suila:person_detail_income" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Mine signaler - få information om beregningsgrundlaget for dit Suila-tapit") "assignment" %}
    </div>
    {% endif %}
    {% if user|has_permissions:"suila.view_eboksmessage" and user|has_permissions:"suila.create_eboksmessage" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_eboks_send" pk=person.pk as person_eboks_url %}
        {% jumbo_link person_eboks_url _("Årsopgørelse") "assignment" %}
    </div>
    {% endif %}
    {% if user|has_permissions:"suila.view_eboksmessage" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_eboks_preview" pk=person.pk as person_eboks_preview_url %}
        {% jumbo_link person_eboks_preview_url _("e-Boks-beskeder preview") "assignment" %}
    </div>
    {% endif %}
    {% if user|has_permissions:"suila.change_person" or user.cpr == object.cpr  %}
    {% if person_id %}
    <div class="g-col-4 jumbo d-grid gap-3">
        <form method="post" action="{% url 'suila:pause_person' pk=person_id %}">
            {% csrf_token %}
            <input type="hidden" name="person" value="{{person_id}}"/>
            <input type="hidden" name="year" value="{{year}}"/>
            <input type="hidden" name="month" value="{{month}}"/>
            {% if paused %}
                {% jumbo_button "paused" "false" _("Genoptag udbetalinger") "play_arrow" %}
            {% else %}
                {% jumbo_button "paused" "true" _("Pause i udbetalinger") "pause" %}
            {% endif %}
        </form>
    </div>
    {% endif %}
    {% endif %}
    {% if user|has_permissions:"suila.view_person" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_tax_scope_history" pk=person.pk as person_tax_scope_history_url %}
        {% jumbo_link person_tax_scope_history_url _("Mandtal") "assignment" %}
    </div>
    {% endif %}
</div>

<div class="grid gap-5 my-5">
    <div class="g-col-9">
        <h1>
            {% blocktrans trimmed with year=year %}
            Udbetalinger for {{ year }}
            {% endblocktrans %}
        </h1>
        <div class="mt-3">
            {% render_table table %}
        </div>
    </div>
    <div class="g-col-3 sidebar">
        <h2 class="mb-5">{% translate "Information" %}</h2>
        <h3 class="my-3">{% translate "Forventet udbetalingsdato" %}</h3>
        <p class="mt-3">
            {% blocktrans trimmed %}
            Suila-tapit udbetales d. 3. tirsdag i måneden. Udbetalingen er altid for indkomster to måneder forinden.
            Fx får du kun udbetalt Suila-tapit den 3. tirsdag i maj, hvis Skattestyrelsen har modtaget signal fra
            arbejdsmarkedet for marts måned.
            {% endblocktrans  %}
        </p>
        <h3 class="mt-5 mb-3">{% translate "Forventet beløb til udbetaling" %}</h3>
        <p class="mt-3">
            {% blocktrans trimmed %}
            Det forventede beløb til udbetaling er baseret på din estimerede årsindkomst. Din estimerede årsindkomst
            genberegnes hver gang, Skattestyrelsen modtager nye oplysninger. Fx hvis en arbejdsgiver indsender
            lønoplysninger. Bemærk, at Skattestyrelsen kan foretage modregning på op til en tredjedel af det udbetalte
            beløb, hvis du har gæld til det offentlige.
            {% endblocktrans %}
        </p>
        <h3 class="mt-5 mb-3">{% translate "Forklaring af statusbeskeder" %}</h3>
        <ul>
            <li>
                {% blocktrans trimmed %}
                Beløb fastlagt. Din årsindkomst er estimeret, og der er fastlagt beløb for din kommende Suila-tapit
                udbetaling.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Sendt til udbetaling: Din Suila-tapit udbetaling  er sendt til din NemKonto.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Udbetaling gennemført: Udbetalingen af Suila-tapit for den pågældende måned er afsluttet.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Fejl i udbetaling: Der er opstået en fejl under udbetaling af din Suila-tapit. Kontakt Borgerservice
                for yderligere information.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Afventer udbetaling: Din forventede årsindkomst er 475.000 kr. – 500.000 kr. Dine Suila-tapit
                udbetalinger starter, når Skattestyrelsen er mere sikker på, om din årsindkomst berettiger dig til Suila-tapit.
                {% endblocktrans %}
            </li>
        </ul>
    </div>
</div>

<script nonce="{{ request.csp_nonce }}">
function toggle($el) {
    $el.toggleClass("d-none");
}
function toggleAnnualIncomeForm() {
    toggle($("#annual_income_form"));
}
$("#toggle_annual_income_form").on("click", toggleAnnualIncomeForm);
</script>

{% endblock %}
