{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/person_detail_base.html" %}
{% load i18n %}
{% load static %}
{% load date_tags %}

{% block breadcrumb %}
{% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
<li class="breadcrumb-item"><a href="{% url 'suila:person_search' %}">{% translate "Borgersøgning" %}</a></li>
{% endif %}
<li class="breadcrumb-item"><a href="{% url 'suila:person_detail' pk=person.pk %}">{% translate "Mit overblik" %}</a></li>
<li class="breadcrumb-item">{% translate "Notater" %}</li>
{% endblock %}

{% block person_data %}
<form method="post" enctype="multipart/form-data" id="note-form">
    {% csrf_token %}
    <div class="row mt-5 mb-3">
        <label for="{{ form.text.id_for_label }}">{% translate "Tilføj notat" %}</label>
    </div>
    <div class="row my-3">
        <div class="col-12">{{ form.text }}</div>
    </div>
    <div class="row">
        <div class="col-4">
            {% file_formset formset "formset" %}
        </div>
        <div class="col-8 d-flex justify-content-end align-items-start">
            <button type="submit" class="btn btn-primary">{% translate "Opret notat" %}</button>
        </div>
    </div>
</form>

{% if notes %}
<div id="notater" class="my-5">
    <table class="table">
        <thead>
            <tr>
                <th class="col-2">{% translate "Forfatter" %}</th>
                <th class="col-2">{% translate "Dato" %}</th>
                <th class="col-4">{% translate "Besked" %}</th>
                <th class="col-4">{% translate "Filer" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{ note.author.get_full_name }}</td>
                <td>{{ note.created }}</td>
                <td>{{ note.text|linebreaks }}</td>
                <td>
                    {% for attachment in note.attachments.all %}
                    <div>
                        <a href="{% url 'suila:note_attachment' pk=attachment.pk %}">{{ attachment.filename }}</a>
                    </div>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}"/>
<script src="{% static 'suila/formset.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% static 'suila/fileinput.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script nonce="{{ request.csp_nonce }}">
    $(function () {
        const form = $("#note-form");
        const selector = "input[type=file],textarea";
        const updateSubmit = function () {
            let hasValue = false;
            form.find(selector).each((index, element) => {
                if (element.value) {
                    hasValue = true;
                    return true;
                }
            });
            $("form button[type=submit]").prop("disabled", !hasValue);
        };
        form.on("change keyup", selector, updateSubmit);
        $("#formset_container").on("subform.post_remove", updateSubmit);
        updateSubmit();
    });
</script>
{% endblock %}
