{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "common/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block breadcrumb %}
<li class="breadcrumb-item">{% translate "Borgersøgning" %}</li>
{% endblock %}

{% block title %}
{% translate "Liste over borgere" %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    {% if filter %}
    <b>{% translate "Filtre" %}</b>
    <div>
        <form action="" method="get" class="form filter-form">
            <div class="row mt-3">
                <div class="col-3">
                    {% bootstrap_form filter.form %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary d-flex align-items-center">
                        <span class="material-icons">search</span>
                        <span class="text-nowrap ms-1">{% translate "Søg" %}</span>
                    </button>
                </div>
            </div>
            {% if filter.form.is_valid %}
            <div class="row mt-3">
                <div class="col">
                    <p>
                        {% blocktrans trimmed with count=person_list.count %}
                        {{ count }} resultater
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
    {% if filter.form.is_valid %}
    {% render_table table %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}
