{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/person_detail_base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load amount_tags %}

{% block breadcrumb %}
{% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
<li class="breadcrumb-item"><a href="{% url 'suila:person_search' %}">{% translate "Borgersøgning" %}</a></li>
{% endif %}
<li class="breadcrumb-item">{% translate "Mit overblik" %}</li>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}"/>
{% endblock %}

{% block person_data %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="explainer">
            {% if not year_in_past %}
            {% blocktrans trimmed %}
            "Mit overblik" er dit overblik over kommende og tidligere udbetalinger af Suila-tapit for indeværende år.
            {% endblocktrans %}
            <br>
            {% blocktrans trimmed %}
            Her får du et overblik over de vigtigste beløb og datoer, og en oversigt over dine forventede månedlige
            Suila-tapit udbetalinger.
            {% endblocktrans %}
            <br>
            {% blocktrans trimmed %}
            Bemærk at beløbene er vejledende og kan ændre sig helt frem til den endelige udbetaling.
            {% endblocktrans %}
            {% else %}
            {% blocktrans trimmed %}
            Her kan du få et overblik over dine udbetalinger af Suila-tapit for forgangne år.
            {% endblocktrans %}
            {% endif %}
            <p><b>{% translate "Modregning" %}</b></p>
            {% blocktrans trimmed %}
            Hvis du har gæld til det offentlige, kan der ske modregning af op til en tredjedel af beløbet inden
            udbetaling. Modregning betyder, at du modtager et lavere beløb, fordi dele af beløbet er brugt til at
            afdrage på din gæld til det offentlige. Eventuelle modregninger fremgår ikke af oplysningerne her på siden.
            Er der sket modregning vil du modtage brev herom i din e-Boks.
            {% endblocktrans %}
            <p><b>{% translate "NemKonto" %}</b></p>
            {% blocktrans trimmed %}
            Suila-tapit udbetales kun til NemKonto. Hvis du ikke har en NemKonto, skal du oprette en før du kan få
            udbetalt Suila-tapit. Har du ikke en NemKonto, skal du rette henvendelse til din bank herom.
            {% endblocktrans %}
        </div>
    </div>
</div>

{% if show_next_payment and not year_in_past %}
<div class="grid gap-3 mt-5">
    <div class="g-col-3 emphasis">
        <b>{% translate "Næste udbetalingsdato" %}</b>
        <h1 class="mt-3">{{ next_payout_date|date }}</h1>
    </div>
    <div class="g-col-3 emphasis">
        <b>{% translate "Næste forventede beløb til udbetaling" %}</b>
        <h1 class="mt-3">
            {% if paused %}
                0 <i class="bi bi-exclamation-triangle-fill"></i>
            {% else %}
                {{ benefit_paid|format_amount }}
            {% endif %}
        </h1>
    </div>
    <div class="g-col-3 emphasis">
        <b>
            {% blocktrans trimmed with year=year %}
            Forventet beløb til udbetaling for hele {{ year }}
            {% endblocktrans %}
        </b>
        <h1 class="mt-3">{{ estimated_year_benefit|format_amount }}</h1>
    </div>
    <div class="g-col-3 emphasis">
        <b>{% translate "Forventet årsindkomst fra arbejde" %}<sup>*</sup></b>
        <h1 class="mt-3">{{ estimated_year_result|format_amount }}</h1>
    </div>
</div>
{% endif %}

{% if paused %}
<div class="grid gap-3 mt-5">
    <div class="g-col-12 sidebar">
        <h2 class="mb-3"><i class="bi bi-exclamation-triangle-fill"></i></h2>
        <p>
            {% blocktrans trimmed  with year=next_year %}
            Dine udbetalinger er blevet sat i bero. Du får udbetalt Suila-tapit
            til årsopgørelsen slut {{ year }}.
            {% endblocktrans %}
        </p>
        {% if not can_unpause_himself %}
        <p>
            {% blocktrans trimmed %}
            Kontakt venligst borgerservice hvis du ønsker at udbetalingerne genoptages.
            {% endblocktrans %}
        </p>
        {% endif %}

        {% if user|has_permissions:"suila.change_person" %}
            <div class="input-group">
                <div class="jumbo">
                    <form method="post" action="{% url 'suila:allow_unpause_person' pk=person_id %}">
                        {% csrf_token %}
                        <input type="hidden" name="person" value="{{person_id}}"/>
                        {% if can_unpause_himself %}
                            {% jumbo_button "can_unpause_himself" "false" "" "check_box" %}
                        {% else %}
                            {% jumbo_button "can_unpause_himself" "true" "" "check_box_outline_blank" %}
                        {% endif %}
                    </form>
                </div>
                <span class="input-group-text">
                    {% if can_unpause_himself %}
                        {% blocktrans trimmed %}
                        Borger må selv genoptage udbetalinger.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans trimmed %}
                        Borger må ikke selv genoptage udbetalinger.
                        {% endblocktrans %}
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}


<div class="grid gap-3 mt-5">
    <div class="g-col-12 sidebar">
        <h2 class="mb-3">{% translate "Bemærk!" %}</h2>
        <p>
            {% blocktrans trimmed %}
            Der bliver kun foretaget udbetalinger, hvis Skattestyrelsen har modtaget signal fra arbejdsmarkedet i form
            af indberetning af løn fra arbejdsgivere, betalte B-skatter, indberetning af indhandling fra
            indhandlingssteder eller oplysning om udloddet udbytte fra selskaber.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
            Du modtager ikke en udbetaling, hvis næste udbetalingsbeløb er mindre end 100 kr. Beløbet vil blive overført
            til næste måned.
            {% endblocktrans %}
        </p>
    </div>
</div>

<div class="grid gap-3 mt-5">
    {% if user|has_permissions:"suila.view_note" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_notes" pk=person.pk as person_notes_url %}
        {% jumbo_link person_notes_url _("Notater") "assignment" %}
    </div>
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_income" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Mine signaler") "assignment" %}
    </div>
    <div class="g-col-4 jumbo">
        {% url "suila:person_graph" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Mit estimerede Suila-tapit") "link" %}
    </div>
    {% else %}
    <div class="g-col-8 jumbo">
        {% url "suila:person_detail_income" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Mine signaler - få information om beregningsgrundlaget for dit Suila-tapit") "assignment" %}
    </div>
    {% endif %}
    {% if user|has_permissions:"suila.view_eboksmessage" and user|has_permissions:"suila.create_eboksmessage" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_eboks_send" pk=person.pk as person_eboks_url %}
        {% jumbo_link person_eboks_url _("Årsopgørelse") "assignment" %}
    </div>
    {% endif %}
    {% if user|has_permissions:"suila.view_eboksmessage" %}
    <div class="g-col-4 jumbo">
        {% url "suila:person_detail_eboks_preview" pk=person.pk as person_eboks_preview_url %}
        {% jumbo_link person_eboks_preview_url _("e-Boks-beskeder preview") "assignment" %}
    </div>
    {% endif %}
    {% if can_unpause or not paused %}
        <div class="g-col-4 jumbo d-grid gap-3">
        <form method="post" action="{% url 'suila:pause_person' pk=person_id %}">
            {% csrf_token %}
            <input type="hidden" name="person" value="{{person_id}}"/>
            {% if paused %}
                {% jumbo_button "paused" "false" _("Genoptag udbetalinger") "play_arrow" %}
            {% else %}
                {% jumbo_button "paused" "true" _("Sæt udbetalinger i bero") "pause" %}
            {% endif %}
        </form>
        </div>
    {% endif %}
</div>

<div class="grid gap-5 my-5">
    <div class="g-col-9">
        <h1>
            {% blocktrans trimmed with year=year %}
            Udbetalinger for {{ year }}
            {% endblocktrans %}
        </h1>
        <div class="mt-3">
            {% render_table table %}
        </div>
    </div>
    <div class="g-col-3 sidebar">
        <h2 class="mb-5">{% translate "Information" %}</h2>
        <h3 class="my-3">{% translate "Forventet udbetalingsdato:" %}</h3>
        <p class="mt-3">
            {% blocktrans trimmed %}
            Suila-tapit udbetales d. 3. tirsdag i måneden. Udbetalingen er altid for indkomster to måneder forinden.
            Fx får du kun udbetalt Suila-tapit den 3. tirsdag i maj, hvis Skattestyrelsen har modtaget signal fra
            arbejdsmarkedet for marts måned.
            {% endblocktrans  %}
        </p>
        <h3 class="mt-5 mb-3">{% translate "Forventet beløb til udbetaling:" %}</h3>
        <p class="mt-3">
            {% blocktrans trimmed %}
            Det forventede beløb til udbetaling er baseret på din estimerede årsindkomst. Din estimerede årsindkomst
            genberegnes hver gang, Skattestyrelsen modtager nye oplysninger. Fx hvis en arbejdsgiver indsender
            lønoplysninger. Bemærk, at Skattestyrelsen kan foretage modregning på op til en tredjedel af det udbetalte
            beløb, hvis du har gæld til det offentlige.
            {% endblocktrans %}
        </p>
        <h3 class="mt-5 mb-3">{% translate "Forklaring af statusbeskeder:" %}</h3>
        <ul>
            <li>
                {% blocktrans trimmed %}
                Foreløbigt beløb. Din kommende Suila-tapit udbetaling er estimeret, men endnu ikke fastlagt.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Beløb fastlagt. Din årsindkomst er estimeret, og der er fastlagt beløb for din kommende Suila-tapit
                udbetaling.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Sendt til udbetaling: Din Suila-tapit udbetaling  er sendt til din NemKonto.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Udbetaling gennemført: Udbetalingen af Suila-tapit for den pågældende måned er afsluttet.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Fejl i udbetaling: Der er opstået en fejl under udbetaling af din Suila-tapit. Kontakt Borgerservice
                for yderligere information.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Afventer udbetaling: Din forventede årsindkomst er 475.000 kr. – 500.000 kr. Dine Suila-tapit
                udbetalinger starter når systemet er mere sikker på om din årsindkomst berettiger dig til Suila-tapit.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                Årsopgørelse er sendt: Du har modtaget årsopgørelse for Suila-tapit for dette år.
                {% endblocktrans %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
