{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/person_detail_base.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}
{% load date_tags %}

{% block breadcrumb %}
{% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
<li class="breadcrumb-item"><a href="{% url 'suila:person_search' %}">{% translate "Borgersøgning" %}</a></li>
{% endif %}
<li class="breadcrumb-item"><a href="{% url 'suila:person_detail' pk=person.pk %}">{% translate "Mit overblik" %}</a></li>
<li class="breadcrumb-item">{% translate "Mine signaler" %}</li>
{% endblock %}

{% block person_data %}
<div class="row mt-5">
    <div class="col-xl-6">
        <div>
            {% render_table sum_table %}
        </div>
    </div>
    <div class="col-xl-6 sidebar">
        <h2>{% translate "Her stammer oplysningerne fra" %}</h2>
        <ul>
            <li class="my-3">
                <b>{% translate "A-indkomst og indhandling" %}</b>
                <br>
                {% blocktrans trimmed %}
                Oplysningerne om A-indkomst stammer fra arbejdsgiveres lønindberetninger og oplysninger om indhandling
                fra indhandlingssteder og til Skattestyrelsen. Hvis du mener, at oplysningerne er forkerte, så henvend
                dig til din arbejdsgiver eller dit indhandlingssted.
                {% endblocktrans %}
            </li>
            <li class="my-3">
                <b>{% translate "B-indkomst" %}</b>
                <br>
                {% blocktrans trimmed %}
                Oplysning om betalt B-skat stammer fra din egen indbetaling af B-skat på baggrund af din
                forskudsregistrering. Du kan altid ændre din forskudsregistrering på
                <a href="https://sullissivik.gl" target="_blank">Sullissivik.gl</a>, hvis du mener at den er forkert.
                {% endblocktrans %}
            </li>
            <li class="my-3">
                <b>{% translate "Udbytte" %}</b>
                <br>
                {% blocktrans trimmed %}
                Oplysning om udbytte stammer fra selskabernes indberetning af udloddet udbytte til dig. Hvis du har
                modtaget udbytte sidste år, forventer Skattestyrelsen, at du også modtager udbytte i år. På den måde
                påvirker oplysninger om udbytte fra tidligere år beregningen af din forventede indkomst for i år.
                {% endblocktrans %}
            </li>
        </ul>
    </div>
</div>
<div class="col-12 mt-5 mt-xl-0">
    <h2 class="mb-3">{% translate "Oversigt over signaler" %}</h2>
    <p>
        {% blocktrans trimmed %}
        Her ser du en liste med de signaler Skattestyrelsen har modtaget.
        {% endblocktrans %}
    </p>
    <ul class="detail-table nav">
        {% for person_year in available_person_years %}
        {% with current_year=person_year.year.year %}
        <li class="nav-item mx-5">
            {% if current_year == year %}
            <a class="nav-link active" aria-current="page" href="{% querystring year=current_year %}">{{ current_year }}</a>
            {% else %}
            <a class="nav-link" href="{% querystring year=current_year %}">{{ current_year }}</a>
            {% endif %}
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
    <div class="detail-table p-5">
        <div class="row">
            <div class="col-xl-3">
                <form action="" method="get" class="form filter-form">
                    {% bootstrap_form detail_table_filter %}
                </form>
            </div>
        </div>
        <div class="grid gap-5">
            <div class="g-col-8">
                {% render_table detail_table %}
            </div>
            <div class="g-col-4 sidebar">
                <h3>{% translate "A-indkomst og indhandling" %}</h3>
                <p>
                    {% blocktrans trimmed %}
                    Hvis din arbejdsgiver eller dit indhandlingssted indberetter korrekt, kan oplysningerne om din indtægt
                    som regel ses 15-30 dage efter den måned du har arbejdet/indhandlet.
                    {% endblocktrans %}
                </p>
                <h3>{% translate "B-indkomst" %}</h3>
                <p>
                    {% blocktrans trimmed %}
                    Oplysning om betalte B-skatter fremgår som regel senest 14 dage efter betalingen.
                    {% endblocktrans %}
                </p>
                <h3>{% translate "Udbytte" %}</h3>
                <p>
                    {% blocktrans trimmed %}
                    Oplysninger om udbytte kan som regel ses 15-30 dage efter at selskabet har indsendt den lovpligtige
                    udbytteblanket.
                    {% endblocktrans %}
                </p>
                <h3>{% translate "Pension" %}</h3>
                <p>
                    {% blocktrans trimmed %}
                    Arbejdsgiverindbetalt pension vises ikke på listen over signaler. Beløbet indgår i beregningen af
                    Suila-tapit. <a href="https://suila.gl">Suila.gl</a> vil vise dette på et senere tidspunkt.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_headers %}
<script nonce="{{ request.csp_nonce }}">
$(document).ready(function () {
    $("select[data-submit-onchange=true]").on("change", function (evt) {
        const val = $(this).val();
        let currentUrl = new URL(window.location);
        currentUrl.searchParams.set("filter_key", val);
        window.location = currentUrl.href;
    });
});
</script>
{% endblock %}
