{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "common/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block breadcrumb %}
<li class="breadcrumb-item">{% translate "Borgere på udbetalingspause" %}</li>
{% endblock %}

{% block title %}
{% translate "Borgere på udbetalingspause" %}
{% endblock %}

{% block content %}
<div class="row mt-5">
    {% table_filters filter %}
    {% render_table table %}
</div>
{% endblock %}
