{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends 'common/base.html' %}
{% load i18n %}
{% load static %}
{% load suila_permissions %}
{% load jumbo_link from element_tags %}

{% block extra_headers %}
<script src="{% static 'jquery/besk.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script nonce="{{ request.csp_nonce }}">
$(document).ready(function () {
    const modal = new bootstrap.Modal(document.getElementById("two_factor_confirmation"));
    const twoFactorSuccess = getUrlParameter("two_factor_success");
    if (twoFactorSuccess === "1") {
        modal.show();
    }
});
</script>
{% endblock %}

{% block title %}
{% blocktrans trimmed with name=user.get_full_name %}
Velkommen, {{ name }}
{% endblocktrans %}
{% endblock %}

{% block content %}
<div id="two_factor_confirmation" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">{% translate "Aktiveret" %}</h1>
            </div>
            <div class="modal-body">
                <p>{% translate "To-faktor-godkendelse er nu aktiv." %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "OK" %}</button>
            </div>
        </div>
    </div>
</div>

{% if user|has_permissions:"suila.view_person,suila.view_personyear" %}
{# Borgerservice links #}
<div class="grid gap-5 mt-5">
    <div class="g-col-6 jumbo">
        {% url "suila:person_search" as person_search_url %}
        {% jumbo_link person_search_url _("Borgersøgning") "search" %}
    </div>
    <div class="g-col-6 jumbo">
        {% url "suila:graph" as graph_url %}
        {% jumbo_link graph_url _("Sammenhæng - Årsindkomst og Suila-tapit") "link" %}
    </div>
</div>
<div class="grid gap-5 mt-5">
    <div class="g-col-6 jumbo">
        {% url "suila:faq" as faq_url %}
        {% jumbo_link faq_url _("Jeg har ikke modtaget Suila-tapit") "help" %}
    </div>
    <div class="g-col-6 jumbo">
        {% url "suila:calculate_benefit" as calculator_url %}
        {% jumbo_link calculator_url _("Suilaberegneren") "calculate" %}
    </div>
</div>
{% else %}
{# Borger links #}
<div class="grid gap-5 mt-5">
    <div class="g-col-6 jumbo">
        {% url "suila:person_detail" pk=person.pk as person_detail_url %}
        {% jumbo_link person_detail_url _("Mit overblik") "person" %}
    </div>
    <div class="g-col-6 jumbo">
        {% url "suila:person_detail_income" pk=person.pk as person_income_url %}
        {% jumbo_link person_income_url _("Beregningsgrundlag - Mine signaler") "assignment" %}
    </div>
</div>
<div class="grid gap-5 mt-5">
    <div class="g-col-6 jumbo">
        {% url "suila:graph" as graph_url %}
        {% jumbo_link graph_url _("Sammenhæng - Årsindkomst og Suila-tapit") "link" %}
    </div>
    <div class="g-col-6 jumbo">
        {% url "suila:faq" as faq_url %}
        {% jumbo_link faq_url _("Jeg har ikke modtaget Suila-tapit") "help" %}
    </div>
</div>
<div class="grid gap-5 mt-5">
    <div class="g-col-6 jumbo">
        {% url "suila:calculate_benefit" as calculator_url %}
        {% jumbo_link calculator_url _("Suilaberegneren") "calculate" %}
    </div>
</div>
{% endif %}
{% endblock %}
