{# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
</head>
<body>
<p>
<a href="{% url 'data_update:person_view' cpr=person.cpr %}">{{ person.cpr }}</a> >
<a href="{% url 'data_update:personyear_view' cpr=person.cpr year=personyear.year %}">{{ personyear.year }}</a> >
{{ object.month }}
</p>

<h3>Månedsindtægter</h3>
<table class="table">
    <tr>
        <th>Employer</th>
        <th>a_income</th>
        <th>b_income</th>
        <th>u_income</th>
        <th></th>
    </tr>
    {% for incomereport in incomereports %}
    <tr>
        <td>{{ incomereport.employer.cvr }}</td>
        <td>{{ incomereport.a_income }}</td>
        <td>{{ incomereport.b_income }}</td>
        <td>{{ incomereport.u_income }}</td>
        <td><a href="{% url 'data_update:monthlyincome_update' cpr=person.cpr year=object.year month=object.month pk=incomereport.pk %}">link</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'data_update:monthlyincome_create' cpr=person.cpr year=object.year month=object.month  %}" class="btn btn-primary btn-sm">Opret</a>
</body>
</html>
