{# SPDX-FileCopyrightText: 2026 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/eboks/base.html" %}
{% load static %}
{% load amount_tags %}

{% block extra_headers %}
    {% if not pdf %}
        {# css file is already included in WeasyPrint call #}
        <link rel="stylesheet" type="text/css" href="{% static 'suila/pdf.css' %}">
    {% endif %}
    <style>
        @page {
            @bottom-right {
                content: "Quppernernit " counter(pages) "-init qupperneq " counter(page)
            }
        }
    </style>
{% endblock %}

{% block content %}

    {% with next_year=year|add:1 %}

        <div class="page">
            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>

            <div class="header-image"></div>

            <div class="page-main">
                <div class="address-container">
                    <div class="address">
                        {{ person.name }}<br/>
                        {% if person.full_address %}
                            {% for line in person.full_address_splitted %}
                                {{ line }}<br/>
                            {% endfor %}
                        {% elif person.foreign_address %}
                            {{ person.foreign_address }}
                        {% endif %}
                    </div>

                    <div class="address crossed">
                        Skattestyrelsen<br/>
                        Postboks 1605<br/>
                        3900 Nuuk
                    </div>

                </div>
                <h1>Ukiumut nalunaarut {{ year }}-mi Suila-tapit</h1>

                <table style="border-collapse: collapse">
                    <tr>
                        <th>Inernera</th>
                        <th>{{ benefit_transfer_difference|format_amount }}</th>
                    </tr>
                    <tr>
                        <td>Isertitassatut naatsorsuutigisat naapertorlugit tunniunneqarput</td>
                        <td>{{ benefit_transferred|format_amount }}</td>
                    </tr>
                    <tr>
                        <td>Eqqortumik isertitatut naapertorlugit pisassaraatit</td>
                        <td>{{ benefit_calculated|format_amount }}</td>
                    </tr>
                </table>

                {% if benefit_transfer_difference == 0 %}
                    <p>
                        Aningaasanik tigusassaqanngilatit akiligassaqarnallu.
                    </p>
                {% elif benefit_transfer_difference >= 100 and benefit_transfer_difference <= 15750 %}
                    <p>
                        Ullut 30 ingerlaneranni aningaasat NemKonto-nnut ikineqassapput.
                    </p>
                {% elif benefit_transfer_difference > 0 and benefit_transfer_difference < 100 %}
                    <p>
                        Isertitariumaagassatit naapertorlugit Suila-tapisiarisimasatit, 
                        ukiullu aningaasarsiorfiusup qaangiunnerani isertitarisimasatit naapertorlugit 
                        Suila-tapisiassavit nikingassutaasa 100 kr. ataappaat.

                        Taamaammat aningaasanik tigusassaqanngilatit akiligassaqarnallu.
                    </p>
                {% elif benefit_transfer_difference < 0 and benefit_transfer_difference > -1999 %}
                    <p>
                        Isertitariumaagassatit naapertorlugit Suila-tapisiarisimasatit,
                        ukiullu aningaasarsiorfiusup qaangiunnerani isertitarisimasatit naapertorlugit 
                        Suila-tapisiassatit sipporlugit tunniunneqarsimapput. {{ next_year }}-mi 
                        Suila-tapisisussaaguit, pivallaarutigisimasatit Suila-tapisiassannit
                        matussuserneqarumaarput.
                    </p>
                {% elif benefit_transfer_difference < -1999 %}
                    <p>
                        Isertitariumaagassatit naapertorlugit Suila-tapisiarisimasatit, ukiullu 
                        aningaasarsiorfiusup qaangiunnerani isertitarisimasatit naapertorlugit 
                        Suila-tapisiassatit sipporlugit tunniunneqarsimapput. 
                        E-boksikkut pivallaarutigisimasatit akiligassiissutigineqarumaarput. 

                        Akiligassinneqarsimaguit ullorlu akiliiffissaq eqqorlugu akiliisimanngikkuit, 
                        ullup akiliiffissap kingorna akiligassaq qaavatigut ernialerneqassaaq.
                    </p>
                {% endif %}



                <h2>Suila-tapit suuppat?</h2>
                <p>
                    Suila-tapit tassaapput sulinermi ilanngaatit tunniunneqartartut.
                    Suila-tapit qaammammut ataasiarlugit sulinermi aningaasarsiat, tunisinermi isertitat,
                    isertitat B-t aamma sinneqartoruutinit ilunaarutisiat naapertorlugit tunniunneqartarput.
                </p>
                <p>
                    <a href="https://suila.gl">Suila.gl</a> iserfigalugu Suila-tapisiariumaagssatit takukkit.
                </p>
                <p>
                    Ukiup aningaasarsiorfiusup qaangiunnerani Akileraartarnermut Aqutsisoqarfimmit 
                    isertitariumaagassarisimasannut sanilliullugu isertitarisimasatit 
                    naatsorsorneqarsinnaa-lersimassapput. 
                    Taamaalillunilu ukiumut nalunaarummi takuneqarsinnaalerluni Suila 
                    tapisiarisimasatit naapertuunnersut.
                </p>

            </div>
        </div>

        <div class="page">

            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">

                <h1>Suila-tapisiassannut isertitatit tunngavigineqartut ima naatsorsorneqarput:</h1>
                <table>
                    <tr>
                        <td>Aningaasarsiat A-t, akissarsiat aamma nunani allani soraarnerussutisiaqalernissamut katersat ilanngullugit</td>
                        <td style="white-space: nowrap">{{ a_income|format_amount }}</td>
                    </tr>
                    <tr>
                        <td>Aningaasarsiat B-t, tunisanit isertitat aamma namminersorluni inuussutissarsiummik ingerlatamit sinneqartoorutiineersuupput</td>
                        <td style="white-space: nowrap">{{ b_income|format_amount }}</td>
                    </tr>
                    <tr>
                        <td>Ingerlatseqatigiiffinnit kalaallit nunaanniittunit sinneqartoruutinit ilunaarutisiat</td>
                        <td style="white-space: nowrap">{{ u_income|format_amount }}</td>
                    </tr>
                    <tr>
                        <td>Soraarnerussutisiassat sulisitsisumit akilerneqartartut</td>
                        <td style="white-space: nowrap">{{ employer_paid_gl_pension_income|format_amount }}</td>
                    </tr>
                    <tr>
                        <th>Suila-tapisiassavit naatsorsorneqarnerini isertitatit tunngavigineqartut</th>
                        <th style="white-space: nowrap">{{ sum_income|format_amount }}</th>
                    </tr>

                </table>

                <h2>Kikkut Suila-tapinik pisinnaappat?</h2>
                <p>
                    Suila-tapisinissamut ukiumut isertitavit annertussusaat apeqqutaavoq.
                    Suila-tapit isertitallu tunngavigineqartut naatsorsorneqariaasiat,
                    isertitatillu Suila-tapisinissannut tunngaviliinersut suila.gl-imi takusinnaavatit.
                </p>

            </div>
        </div>

        <div class="page">

            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">

                <h2>Paasissutissat ukunanngaanneerput:</h2>
                <h3>Aningaasarsiat A-t</h3>
                <p>
                    Aningaasarsiat A-t pillugit paasissutissat inaarummik naatsorsuummit aaneqartarput. 

                    Nammineerlutit nalunaarsukkannit aamma sulisitsisuit anigaasarsiannut,
                    ajunngitsorsiannut, soraarnerussutisiaqalernissannut Kalaallit Nunaata
                    avataaniittunut aaqqissuussinernut akiliutiutigisimasaminut tunngatillugu
                    nalunaarutaannit, inaarummik naatsorsuutini paasissutissat aaneqartarput.
                </p>
                <h3>Aningaasarsiat B-t</h3>
                <p>
                    Aningaasarsiat B-t pillugit paasissutissat inaarummik naatsorsuummit aaneqartarput.
                    Inaarummik naatsorsuummi paasissutissat nammineerlutit nalunaarsukkannit,
                    tunitsivinnut tunisatit pillugit nalunaarutigeqarsimasunit, namminersorlutit
                    inuussutissarsiummi ingerlatanni isertitannit, attartortitsinernit aamma
                    ernianit aaneqartarput. 
                </p>
                <h3>Ingerlatseqatigiiffinnit kalaallit nunaanniittunit sinneqartoruutinit ilunaarutisiat</h3>
                <p>
                    Sinneqartoorutinit iluanaarutisiat pillugit paasissutissat iluanaarutisianit ilinnut 
                    tunniunneqarsimasutut ingerlatseqatigiiffinniit nalunaarutigineqarsimasunit aaneqartarput.
                </p>
                <h3>Soraarnerussutisiassanut akilersukkat</h3>
                <p>
                    Kalaallit Nunaanni  Soraarnerussutisiassanut aaqqissuussinernut tunngapput, 
                    kiisalu sulisitsisuit Soraarnerussutisiassanut aaqqissuussinerannut akilertagaanut 
                    aningaasartaanut tunngatillugu paasissutissat. 
                </p>


                <h1>Inatsisit</h1>
                <p>
                    Una allakkiaq Suila-tapitit pillugu aalajangiinermik imaqarpoq.
                </p>
                <p>
                    Aningaasarsianit akileraarutit pillugit Inatsisartut inatsisaat pillugu 
                    Namminersorlutik Oqartussat inatsimmut nalunaarutaat nr. 62, 24. oktober
                    2025-meersut tunngavigalugit aalajangiisoqarpoq.
                </p>
                <p>

            </div>
        </div>

        
        <div class="page">

            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">
                </p>
                <h2>Pisussaaffiitit aamma Suila-tapisiavit annertussusilerneqarnerat</h2>
                <p>
                    Inatsimmut nalunaarutini § 38. imm. 2-mi takuneqarsinnaavoq, tamakkiisumik Kalaallit 
                    Nunaannut akileraartussaassasutit aammalu Suila-tapinik pissarsissaguit 
                    ilanngaateqanngitsumik akileraartartuunak.
                </p>
                <p>
                    § 38 b imm. 1-mi takuneqarsinnaavoq:
                </p>
                <ul>
                    <li>
                        Suila-tapivit annertussusaa isertitassatut tunngavimmit 17,5 %-voq, taannalu 70.000 kr. sinnersimassallugu (2025-mut).
                    </li>
                    <li>
                        Taamaattoq sulinermut ilanngaat tunniunneqartoq ukiumi isertitaqarfiusumi ataatsimi 15.750 kr.-nit annertunerusinnaanngilaq.
                        (2025-mut ) (§ 38 b, imm. 2). Isertitatut tunngavigisatut 250.000 kr. qaangersimappagu (2025-mut)
                        Suila-tapit isertitatut tunngavigisannit 6,3 %-mik annikillissapput. (§ 38 b, imm. 3).
                    </li>
                </ul>

                <p>
                    Tamanna ima isumaqarpoq, Suila-tapinik tunngaviusumik isertitanit 500.000 kr. qaangersimappagu Suila-tapinik pissarsisinnaanngitsutit. (2025-mut).
                </p>
                <p>
                    Suila-tapinut killigitinneqartunut kisitsisit ukiut tamaasa akigititanut nalimmassaanermi naleqqussarneqartarput.
                    Kisitsisit piviusut takukkit AKA.gl-mi nalunaarutit ataanni.
                </p>
                <h2>Ukiumut nalunaarutit - tunniussinerit akiligassiinerillu</h2>
                <p>
                    § 38 f, imm. 1-mi takuneqarsinnaavoq Akileraartarnermut Pisortaqarfiup ukiut
                    tamaasa 1. september nallertinnagu Siuliani Suila-tapinik pissarsisarsimanermut
                    ukiumut nalunaarut ilinnut nassiutissagaa.
                </p>
                <p>
                    Ukiumut nalunaarutip takutippagu ukiup pineqartup ingerlanerani Suila-tapinik
                    annikippallaartunik pisarsimasutit, taava qaammatip ataatsip ingerlanerani
                    Akileraartarnermut Aqutsisoqarfiup sinneruttut tunniutissavai.
                </p>
                <p>
                    Ukiumut nalunaarutip takutippagu annertuallaartunik pisarsimasutit, taava § 38 g.
                    naapertorlugu taakkua uterteqquneqassapput, tamannalu siunissami Suila-tapinik
                    pissarsiassakkut ilanngartuinermik ingerlanneqassalluni.
                </p>
                <p>
                    Suila-tapinik 2.000 kr.  imaluunniit sinnerlugu annertuallaartumik pisarsimaguit
                    akiligassiineq atorlugu akiligassanngortinneqassapput.
                    Tamanna § 38 g. imm. 2-mi takuneqarsinnaavoq.
                </p>

            </div>
        </div>

        
        <div class="page">

            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">

                <h1>Naammagittaalliuuteqarnissamut ilitsersuut</h1>
                <p>
                    Ukiumut nalunaarummut isumaqataanngikkuit, qinnuigineqarputit Akileraartarnermut Aqutsisoqarfik attavigeqqullugu.
                </p>
                <p>
                    Aalajangiineq manna akileraarusiinermik aalajangiisartunut qaammatit pingasut iluini naammagittaalliuutigineqarsinnaavoq.
                </p>
                <p>
                    Naammagittaalliuutaasinnaasut allakkatigut tunngavilersorlugit uunga nassiunneqassapput:<br/>
                    <a href="mailto:oed@nanoq.gl">oed@nanoq.gl</a> imaluunniit<br/>
                    <br/>
                    Akileraarusiinermik Aalajangiisartut<br/>
                    Postboks 1037<br/>
                    3900 Nuuk
                </p>
            </div>
        </div>
    {% endwith %}
    </div>
{% endblock %}
