{# SPDX-FileCopyrightText: 2026 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "suila/eboks/base.html" %}
{% load static %}

{% block extra_headers %}
    {% if not pdf %}
        {# css file is already included in WeasyPrint call #}
        <link rel="stylesheet" type="text/css" href="{% static 'suila/pdf.css' %}">
    {% endif %}
    <style>
        @page {
            @bottom-right {
                content: "Quppernernit " counter(pages) "-init qupperneq " counter(page)
            }
        }
    </style>
{% endblock %}

{% block content %}

    {% with next_year=year|add:1 %}

        <div class="page">
            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>

            <div class="header-image"></div>

            <div class="page-main">
                <div class="address-container">
                    <div class="address">
                        {{ person.name }}<br/>
                        {% if person.full_address %}
                            {% for line in person.full_address_splitted %}
                                {{ line }}<br/>
                            {% endfor %}
                        {% elif person.foreign_address %}
                            {{ person.foreign_address }}
                        {% endif %}
                    </div>

                    <div class="address crossed">
                        Skattestyrelsen<br/>
                        Postboks 1605<br/>
                        3900 Nuuk
                    </div>

                </div>
                <h1>Ukiumut nalunaarut {{ year }}-mi Suila-tapit</h1>

                <table>
                    <tr>
                        <th><h3>Inernera</h3></th>
                        <th>{{ benefit_transfer_difference }}</th>
                    </tr>
                    <tr>
                        <td>Isertitassatut naatsorsuutigisat naapertorlugit tunniunneqarput</td>
                        <td>{{ benefit_transferred }}</td>
                    </tr>
                    <tr>
                        <td>Eqqortumik isertitatut naapertorlugit pisassaraatit</td>
                        <td>{{ benefit_calculated }}</td>
                    </tr>
                </table>

                {% if benefit_transfer_difference == 0 %}
                    <p>
                        Allagaqaasiaq Aningaasanik tigusassaqanngilatit akiligassaqarnallu.
                    </p>
                {% elif benefit_transfer_difference >= 100 and benefit_transfer_difference <= 15750 %}
                    <p>
                        Allagaqaasiaq: Ullut 30 iluini aningaasat NemKonto-mut ikineqassapput.
                    </p>
                {% elif benefit_transfer_difference > 0 and benefit_transfer_difference < 100 %}
                    <p>
                        Allagaqaasiaq: Suila-tapinik tigusavit assigiinngissutaasa pisinnaasavillu 100 kr. inorpaat.
                        Aningaasanik tigusassaqanngilatit akiligassaqarnallu.
                    </p>
                {% elif benefit_transfer_difference < 0 and benefit_transfer_difference > -1999 %}
                    <p>
                        Allagaqaasiaq: Pisinnaasatit qaangerlugit Suila-tapinik pissarsisarsimavutit.
                        {{ next_year }}-mi piumasaqaatinik naammassinnikkuit, Suila-tapinit aningaasat assinganik ilanngaatigineqartassapput.
                    </p>
                {% elif benefit_transfer_difference < -1999 %}
                    <p>
                        Pisinnaasatit qaangerlugit Suila-tapinik  pissarsisarsimavutit. Akiligassanik e-Boks aqqutigalugu nassinneqassaatit.
                        Akiligassaq tigusimagukku piffissaatillugulu akilernagu, akiliiffissaq qaangiuppat ernialersorneqassapput.
                    </p>
                {% endif %}



                <h2>Suila-tapit sunaava?</h2>
                <p>
                    Suila-tapit tassaapput sulinermi ilanngaatit tunniunneqartartut.
                    Suila-tapit qaammammut ataasiarlugit sulinermi aningaasarsiat, tunisinermi isertitat,
                    B-tut isertitat aamma pissarsiat naapertorlugit amerlassusaat tunniunneqartarput.
                </p>
                <p>
                    <a href="https://suila.gl">Suila.gl</a> ammaruk piffissamilu aggersumi tunniunneqartussat takullugit.
                </p>
                <p>
                    Ukiup naareernerani akileraartarnermut aqutsisoqarfiup isertitatit eqqortut ilisimalersimassavai.
                    Isertitat eqqortut tunngavigalugit ukioq una Suila-tapimi isertitassanut naatsorsuutit tigussavatit.
                    Tassani takusinnaavat, aningaasat annikippallaartut amerlavallaartulluunniit aamma eqqortut tigusimanerlugit.
                </p>


                <h1>Suila-tapimi isertitatut tunngavissiaq ima naatsorsorneqartarpoq:</h1>
                <table>
                    <tr>
                        <td>A-tut isertitat, tamatumunnga ilanngullugit akissarsiat aamma nunani allani soraarnerussutisiaqalernissamut katersat</td>
                        <td>{{ a_income }}</td>
                    </tr>
                    <tr>
                        <td>B-tut isertitat, tamatumunnga ilanngullugit tunisinerit, aamma suliffeqarfimmit sinneqartoorutit</td>
                        <td>{{ b_income }}</td>
                    </tr>
                    <tr>
                        <td>Ingerlatseqatigiiffinnit kalaallinit pigineqartunit iluanaarutit</td>
                        <td>{{ u_income }}</td>
                    </tr>
                    <tr>
                        <td>Sulisitsisumit soraarnerussutisiassat akilerneqartartut</td>
                        <td>{{ employer_paid_gl_pension_income }}</td>
                    </tr>
                    <tr>
                        <th>Suila-tapimit ataatsimut isertitanut tunngavissaq</th>
                        <th>{{ sum_income }}</th>
                    </tr>

                </table>
            </div>
        </div>

        <div class="page">

            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">
                <h2>Kina Suila-tapinik pissava?</h2>
                <p>
                    Ukiumut Suila-tapisiassavit annertussusaanni isertitatit apeqqutaapput.
                    Suila.gl-mi isertitanut tunngavissat ilineqarsimasut atorlugit naatsorsuineq annertunerusumik paasisaqarfigisinnaavat.
                </p>

                <h2>Paasissutissat uanngaanneerput:</h2>
                <h3>A-tut isertitat</h3>
                <p>
                    A-tut isertitatit pillugit paasissutissat akileraartarnermut inaarutaasumik nalunaarutinnit pisarput.
                    Nammineerlutit nalunaarutinnut aamma sulisitsisuit akissarsiat, ajunngitsorsiassat,
                    nunanullu allanut soraarnerussutisiassatut akilersorneqartut pillugit nalunaarutaani,
                    Ukiup naanerani Nammineerlutit nalunaarutinni tunngaviusarput.
                </p>
                <h3>B-tut isertitat</h3>
                <p>
                    B-tut isertitat pillugit paasissutissat  akileraartarnermut inaarutaasumik nalunaarutinnik pisarput.
                    Inaarutaasumik nalunaarut nammineerlutit nalunaarsuinitit aamma ernianit,
                    attartortitsinernit imaluunniit allatigut isertitaqarfiusuni isertitatit pillugit
                    allanit nalunaarutigineqartut, tunngavigalugu pisarput.
                </p>
                <h3>Kalaallit Nunaanni ingerlatsivinnit ajunngitsorsiassat.</h3>
                <p>
                    Iluanaarutinit paasissutissat iluanaarutitut tunniunneqartutut ingerlatseqatigiiffinniit ilinnut tunniunneqassapput.
                </p>
                <h3>Soraarnerussutisiassanut aaqqissuussinerannut akilersukkat.</h3>
                <p>
                    Kalaallit Nunaanni  Soraarnerussutisiassanut aaqqissuussinernut tunngasut,
                    kiisalu sulisitsisuit Soraarnerussutisiassanut aaqqissuussinerannut akilertagaanut aningaasartaanut tunngatillugu paasissutissat.
                </p>
            </div>
        </div>

        
        <div class="page">

            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">
                <h1>Malittarisassat</h1>
                <p>
                    Uku allakkat tassaapput, Suila-tapit pillugit inaarutaasumik nalunaarutit.
                </p>
                <p>
                    Aningaasarsianit akileraarutit pillugit Inatsisartut inatsisaat pillugu Namminersorlutik Oqartussat
                    inatsimmut nalunaarutaat nr. 62, 24. oktober 2025-meersut tunngavigalugit aalajangiisoqarpoq.
                </p>
                <p>

                </p>
                <h2>Piumasaqaatit aamma Suila-tapisiavit annertussusaat</h2>
                <p>
                    Inatsimmut nalunaarutini § 38. imm. 2-mi takuneqarsinnaavoq, tamakkiisumik Kalaallit Nunaannut
                    akileraartussaassasutit aammalu Suila-tapinik pissarsissaguit ilanngaateqanngitsumik akileraartartuunak.
                </p>
                <p>
                    § 38 b imm. 1-mi takuneqarsinnaavoq:
                </p>
                <ul>
                    <li>
                        Suila-tapivit annertussusaa isertitassatut tunngavimmit 17,5 %-voq, taannalu 70.000 kr. sinnersimassallugu (2025-mut).
                    </li>
                    <li>
                        Taamaattoq sulinermut ilanngaat tunniunneqartoq ukiumi isertitaqarfiusumi ataatsimi 15.750 kr.-nit annertunerusinnaanngilaq.
                        (2025-mut ) (§ 38 b, imm. 2). Isertitatut tunngavigisatut 250.000 kr. qaangersimappagu (2025-mut)
                        Suila-tapit isertitatut tunngavigisannit 6,3 %-mik annikillissapput. (§ 38 b, imm. 3).
                    </li>
                </ul>

                <p>
                    Tamanna ima isumaqarpoq, Suila-tapinik tunngaviusumik isertitanit 500.000 kr. qaangersimappagu Suila-tapinik pissarsisinnaanngitsutit. (2025-mut).
                </p>
                <p>
                    Suila-tapinut killigitinneqartunut kisitsisit ukiut tamaasa akigititanut nalimmassaanermi naleqqussarneqartarput.
                    Kisitsisit piviusut takukkit AKA.gl-mi nalunaarutit ataanni.
                </p>

                <h2>Ukiumut naatsorsuutit - tunniussineq akiliinerlu</h2>
                <p>
                    § 38 f, imm. 1-mi takuneqarsinnaavoq Akileraartarnermut Pisortaqarfiup ukiut
                    tamaasa 1. september nallertinnagu Siuliani Suila-tapinik pissarsisarsimanermut
                    ukiumut nalunaarut ilinnut nassiutissagaa.
                </p>
                <p>
                    Ukiumut nalunaarutip takutippagu ukiup pineqartup ingerlanerani Suila-tapinik
                    annikippallaartunik pisarsimasutit, taava qaammatip ataatsip ingerlanerani
                    Akileraartarnermut Aqutsisoqarfiup sinneruttut tunniutissavai.
                </p>
                <p>
                    Ukiumut nalunaarutip takutippagu annertuallaartunik pisarsimasutit, taava § 38 g.
                    naapertorlugu taakkua uterteqquneqassapput, tamannalu siunissami Suila-tapinik
                    pissarsiassakkut ilanngartuinermik ingerlanneqassalluni.
                </p>
                <p>
                    Suila-tapinik 2.000 kr.  imaluunniit sinnerlugu annertuallaartumik pisarsimaguit
                    akiligassiineq atorlugu akiligassanngortinneqassapput.
                    Tamanna § 38 g. imm. 2-mi takuneqarsinnaavoq.
                </p>
            </div>
        </div>

        
        <div class="page">
            <div class="year-band">
                <div class="year-band-number" style="top: 12.5%">{{year}}</div>
                <div class="year-band-number" style="top: 37.5%">{{year}}</div>
                <div class="year-band-number" style="top: 62.5%">{{year}}</div>
                <div class="year-band-number" style="top: 87.5%">{{year}}</div>
            </div>
            <div class="header-image"></div>
            <div class="page-main">
                <h1>Naammagittaalliuuteqarnissamut ilitsersuut</h1>
                <p>
                    Ukiumut nalunaarummut isumaqataanngikkuit, qinnuigineqarputit Akileraartarnermut Aqutsisoqarfik attavigeqqullugu.
                </p>
                <p>
                    Aalajangiineq manna akileraarusiinermik aalajangiisartunut qaammatit pingasut iluini naammagittaalliuutigineqarsinnaavoq.
                </p>
                <p>
                    Naammagittaalliuutaasinnaasut allakkatigut tunngavilersorlugit uunga nassiunneqassapput:<br/>
                    <a href="mailto:oed@nanoq.gl">oed@nanoq.gl</a> imaluunniit<br/>
                    <br/>
                    Akileraarusiinermik Aalajangiisartut<br/>
                    Postboks 1037<br/>
                    3900 Nuuk
                </p>
            </div>
        </div>
    {% endwith %}
    </div>
{% endblock %}
