{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% load static %}
{% load i18n %}
{% load csp %}
{% load cache %}
{% load compress %}
{% load suila_permissions %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'bootstrap/theme.scss' %}" rel="stylesheet" media="screen" nonce="{{ request.csp_nonce }}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'suila/style.css' %}"  nonce="{{request.csp_nonce}}">
    <link href="{% static 'material-design/filled.css' %}" rel="stylesheet" nonce="{{ request.csp_nonce }}"/>
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <title>{% block title %}{% translate "Suila" %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'suila/favicon.ico' %}" >
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
    <header>
        {% if environment != "production" %}
        <nav class="bg-warning">
            <p class="text-center fw-bold my-0">
                {{environment|upper}}
            </p>
        </nav>
        {% endif %}

        <nav class="nav navbar navbar-expand">
            <h1 class="navbar-brand py-0 my-0">
                <a href="{% url 'suila:root' %}" class="logo-suila">Suila.gl</a>
            </h1>
            <ul class="navbar-nav d-flex align-items-center">
                {% if user.is_authenticated and user.cpr is not None %}
                <li class="nav-item ms-4">
                    <a href="{% url 'suila:person_detail' pk=person.pk %}" class="d-flex align-items-center {% if current_view == 'suila:person_detail' %}active{% endif %}">
                        <span class="material-icons">person</span>
                        <span class="ms-1">{% translate "Mit overblik" %}</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated and user.cpr is not None %}
                <li class="nav-item ms-4">
                    <a href="{% url 'suila:person_detail_income' pk=person.pk %}" class="d-flex align-items-center {% if current_view == 'suila:person_detail_income' %}active{% endif %}">
                        <span class="material-icons">assignment</span>
                        <span class="ms-1">{% translate "Mine signaler" %}</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
                <li class="nav-item ms-4">
                    <a href="{% url 'suila:person_search' %}" class="d-flex align-items-center {% if current_view == 'suila:person_search' %}active{% endif %}">
                        <span class="material-icons">search</span>
                        <span class="ms-1">{% translate "Borgersøgning" %}</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item ms-4">
                    <a href="{% url 'suila:graph' %}" class="d-flex align-items-center {% if current_view == 'suila:graph' %}active{% endif %}">
                        <span class="material-icons">link</span>
                        <span class="ms-1">{% translate "Sammenhæng" %}</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item ms-4">
                    <a href="{% url 'suila:faq' %}" class="d-flex align-items-center {% if current_view == 'suila:faq' %}active{% endif %}">
                        <span class="material-icons">help</span>
                        <span class="ms-1">{% translate "Ikke modtaget Suila-tapit" %}</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item ms-4">
                    <a href="{% url 'suila:calculator' %}" class="d-flex align-items-center {% if current_view == 'suila:calculator' %}active{% endif %}">
                        <span class="material-icons">calculate</span>
                        <span class="ms-1">{% translate "Suilaberegneren" %}</span>
                    </a>
                </li>
                {% endif %}

                {% if user.is_authenticated and user|has_permissions:"suila.view_data_analysis" %}
                <li class="nav-item dropdown ms-4">
                    <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons">description</span>
                        <span class="ms-1">{% translate "Estimeringsoverblik for hver person" %}</span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for year in years %}
                        <li><a href="{% url 'data_analysis:person_years' year=year %}" class="dropdown-item">{{ year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                {% if user.is_authenticated and user|has_permissions:"suila.view_data_analysis" %}
                <li class="nav-item dropdown ms-4">
                    <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons">description</span>
                        <span class="ms-1">{% translate "Histogrammer over estimeringernes afvigelse" %}</span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for year in years %}
                        <li><a href="{% url 'data_analysis:histogram' year=year %}" class="dropdown-item">{{ year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                {% if user.is_authenticated and user|has_permissions:"suila.view_joblog" %}
                <li class="nav-item dropdown ms-4">
                    <a href="{% url 'data_analysis:job_log' %}" class="d-flex align-items-center">
                        <span class="material-icons">description</span>
                        <span class="ms-1">{% translate "Jobliste" %}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav d-flex align-items-center ms-auto">
                <div class="d-flex align-items-center ms-4">
                    <span class="material-icons">language</span>
                    <form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-right mx-1 my-2">
                        {% csrf_token %}
                        <div class="form-group me-3">
                            <select name="language" class="form-select">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local|capfirst }}
                                </option>
                                {% endfor %}
                            </select>
                            <script nonce="{{ request.csp_nonce }}">$("[name=language]").on("change", function () {
                                this.form.submit()
                            })</script>
                        </div>
                    </form>
                </div>
                <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated %}
                        <span class="material-icons fs-3 d-flex">account_circle</span>
                        {% else %}
                        <span class="material-icons fs-3 d-flex">help</span>
                        {% endif %}
                    </a>
                    <div id="settings" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <div class="d-flex align-items-center">
                            <span class="material-icons me-2">account_circle</span>
                            <h4>{{ user.get_full_name }}</h4>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="d-flex">
                            <a href="{% url 'login:logout' %}" class="btn btn-primary d-flex align-items-center" id="logout-link">
                                <span class="material-icons me-1">login</span>
                                {% translate "Log out" %}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content-fluid overflow-auto">
    {% block page %}
    {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <a href="https://www.aka.gl/da" target="_blank" class="d-inline-flex align-items-center">
            <span>https://www.aka.gl/da</span>
        </a>
    </footer>
    {% endblock %}

    {% block modals %}
    {% endblock %}

    <script nonce="{{ request.csp_nonce }}">
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
</body>

</html>
