{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% load static %}
{% load i18n %}
{% load csp %}
{% load cache %}
{% load compress %}
{% load suila_permissions %}
{% load element_tags %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'bootstrap/theme.scss' %}" rel="stylesheet" media="screen" nonce="{{ request.csp_nonce }}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'suila/style.css' %}"  nonce="{{request.csp_nonce}}">
    <link href="{% static 'material-design/filled.css' %}" rel="stylesheet" nonce="{{ request.csp_nonce }}"/>
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" nonce="{{request.csp_nonce}}"></script>
    <title>{% block title %}{% translate "Suila" %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'suila/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'suila/favicon.svg' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'suila/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'suila/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'suila/site.webmanifest' %}" />
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
    <header>
        {% if environment != "production" %}
        <nav class="bg-warning">
            <p class="text-center fw-bold my-0">
                {{environment|upper}}
            </p>
        </nav>
        {% endif %}

        <nav class="nav navbar navbar-expand-xl">
            <h1 class="navbar-brand py-0 my-0">
                <a href="{% url 'suila:root' %}" class="logo-suila">Suila.gl</a>
            </h1>
            <div class="d-flex flex-fill">
                {# Language picker is separate element in nav bar at smaller screen sizes #}
                <ul class="navbar-nav d-flex d-xl-none ms-auto mt-auto mb-auto">
                    <li class="nav-item d-flex align-items-center mt-auto mb-auto">
                        {% language_picker %}
                    </li>
                </ul>
                <button class="navbar-toggler btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="{% trans 'Åbn menu' %}">
                    <span class="material-icons">menu</span>
                </button>
                <div class="offcanvas offcanvas-xl offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
                    <a href="#" class="close d-flex d-xl-none" data-bs-dismiss="offcanvas" aria-label="{% translate 'Luk' %}">
                        <span class="material-icons fs-4">close</span>
                    </a>
                    <ul class="navbar-nav d-flex align-items-xl-center align-content-stretch flex-wrap flex-fill pt-3">
                        {% if user.is_authenticated %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:root' %}" class="d-flex align-items-center {% if current_view == 'suila:root' %}active{% endif %}">
                                <span class="material-icons">home</span>
                                <span class="ms-1">{% translate "Forside" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user.cpr is not None and has_personyears %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:person_detail' pk=person.pk %}" class="d-flex align-items-center {% if current_view == 'suila:person_detail' %}active{% endif %}">
                                <span class="material-icons">person</span>
                                <span class="ms-1">{% translate "Mit overblik" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user.cpr is not None and has_personyears %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:person_detail_income' pk=person.pk %}" class="d-flex align-items-center {% if current_view == 'suila:person_detail_income' %}active{% endif %}">
                                <span class="material-icons">assignment</span>
                                <span class="ms-1">{% translate "Mine signaler" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user|has_permissions:"suila.view_person,suila.view_personyear" %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:person_search' %}" class="d-flex align-items-center {% if current_view == 'suila:person_search' %}active{% endif %}">
                                <span class="material-icons">search</span>
                                <span class="ms-1">{% translate "Borgersøgning" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user.cpr is not None and has_personyears %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:person_graph' pk=person.pk %}" class="d-flex align-items-center {% if current_view == 'suila:person_graph' %}active{% endif %}">
                                <span class="material-icons">link</span>
                                <span class="ms-1">{% translate "Mit estimerede Suila-tapit" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:faq' %}" class="d-flex align-items-center {% if current_view == 'suila:faq' %}active{% endif %}">
                                <span class="material-icons">help</span>
                                <span class="ms-1">{% translate "Ikke modtaget Suila-tapit" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class="nav-item ms-4">
                            <a href="{% url 'suila:calculator' %}" class="d-flex align-items-center {% if current_view == 'suila:calculator' %}active{% endif %}">
                                <span class="material-icons">calculate</span>
                                <span class="ms-1">{% translate "Suila-tapit-beregneren" %}</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user|has_permissions:"suila.view_data_analysis" %}
                        <li class="nav-item dropdown ms-4">
                            <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-icons">description</span>
                                <span class="ms-1">{% translate "Estimeringsoverblik for hver person" %}</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for year in years %}
                                <li><a href="{% url 'data_analysis:person_years' year=year %}" class="dropdown-item">{{ year }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user|has_permissions:"suila.view_data_analysis" %}
                        <li class="nav-item dropdown ms-4">
                            <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-icons">description</span>
                                <span class="ms-1">{% translate "Histogrammer over estimeringernes afvigelse" %}</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for year in years %}
                                <li><a href="{% url 'data_analysis:histogram' year=year %}" class="dropdown-item">{{ year }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated and user|has_permissions:"suila.view_joblog" %}
                        <li class="nav-item dropdown ms-4">
                            <a href="{% url 'data_analysis:job_log' %}" class="d-flex align-items-center">
                                <span class="material-icons">description</span>
                                <span class="ms-1">{% translate "Jobliste" %}</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="util-menu navbar-nav d-none d-xl-flex align-items-xl-center align-self-xl-start flex-no-wrap ms-4 me-auto pt-xxl-3">
                        {# Language picker is integrated in rest of menu on largest screen sizes #}
                        <div class="d-flex nav-item align-items-center">
                            {% language_picker %}
                        </div>
                        {% if user.is_authenticated %}
                        {# This version of the profile menu is shown on largest screen sizes #}
                        <li class="nav-item dropdown">
                            <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-icons fs-3 d-flex">account_circle</span>
                            </a>
                            <div id="settings" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <div class="d-flex align-items-center">
                                    <span class="material-icons me-2">account_circle</span>
                                    <h4>{{ user.get_full_name }}</h4>
                                </div>
                                {% if not user_twofactor_enabled %}
                                <div class="d-flex mb-3">
                                    <a href="{% url 'login:two_factor_setup' %}" class="btn btn-primary d-flex align-items-center">
                                        <span class="material-icons me-1">devices</span>
                                        {% translate "Aktivér to-faktor-login" %}
                                    </a>
                                </div>
                                {% endif %}
                                <div class="d-flex">
                                    <a href="{% url 'login:logout' %}" class="btn btn-primary d-flex align-items-center">
                                        <span class="material-icons me-1">logout</span>
                                        {% translate "Log ud" %}
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    {# This version of the profile menu is shown on smaller screen sizes #}
                    <div class="profile-menu d-flex d-xl-none flex-column">
                        <div class="d-flex align-items-center">
                            <span class="material-icons me-2 fs-2">account_circle</span>
                            <h4 class="text-white fs-5 fw-bold">{{ user.get_full_name }}</h4>
                        </div>
                        {% if not user_twofactor_enabled %}
                        <div class="action d-flex mt-4 mb-3">
                            <a href="{% url 'login:two_factor_setup' %}" class="btn btn-primary d-flex align-items-center">
                                <span class="material-icons me-1">devices</span>
                                {% translate "Aktivér to-faktor-login" %}
                            </a>
                        </div>
                        {% endif %}
                        <div class="action d-flex">
                            <a href="{% url 'login:logout' %}" class="btn btn-primary d-flex align-items-center">
                                <span class="material-icons me-1">logout</span>
                                {% translate "Log ud" %}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div class="content-fluid overflow-auto">
    {% block page %}
    {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <a href="https://www.aka.gl" target="_blank" class="d-inline-flex align-items-center">
            <span>https://www.aka.gl</span>
        </a>
    </footer>
    {% endblock %}

    {% block modals %}
    {% endblock %}

    <script nonce="{{ request.csp_nonce }}">
        // Activate Bootstrap offcanvas actions (= hamburger menu)
        const offcanvasElementList = document.querySelectorAll('.offcanvas-xl');
        const offcanvasList = [...offcanvasElementList].map(offcanvasEl => new bootstrap.Offcanvas(offcanvasEl));

        // Activate Bootstrap tooltips (unused at the moment)
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
</body>

</html>
