{# SPDX-FileCopyrightText: 2024 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "common/_base.html" %}
{% load i18n %}

{% block page %}
<div class="d-flex justify-content-center align-content-center">
    <div class="card">
        <div class="card-container">
            <h5 class="card-header">
                {% block title %}
                {% endblock %}
            </h5>
            <div class="card-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
